<div class="fundraiser">
  <% unless fundraiser.start_time.blank? %>
    <strong>When:</strong> <%= fundraiser.start_time.strftime("%B %d, %Y") %><br />
  <% end %>
  <% unless fundraiser.entertainment_type.blank? %>
    <strong>What:</strong> <a href="http://politicalpartytime.org/party/<%= fundraiser.sunlight_id %>/"><%= fundraiser.entertainment_type %></a><br />
  <% end %>
  <% unless fundraiser.venue.blank? %>
    <strong>Where:</strong> <%= fundraiser.venue %><br />
  <% end %>
  <% unless fundraiser.host.blank? %>
    <strong>Host(s):</strong> <%= fundraiser.host %><br />
  <% end %>
  <% unless fundraiser.beneficiaries.blank? %>
  <strong>Beneficiaries:</strong> <%= fundraiser.beneficiaries %><br />
  <% end %>
  <% unless fundraiser.contributions_info.blank? %>
    <strong>Contributions:</strong> <%= fundraiser.contributions_info %><br />
  <% end %>
  <% unless fundraiser.make_checks_payable_to.blank? %>
    <strong>Make Checks Payable To:</strong> <%= fundraiser.make_checks_payable_to %><br />
  <% end %>
</div>
