<div id="heading">

<h2>Head-to-Head Voting Comparison</h2>

</div>

<div class="padding">
<% if @person1 %>  
<div id="compopts" class="ctop">

<div class="ctabs">
	<div id="creps" class="<%= @tab_state %>">
		<a href="/people/compare?representatives=true" class="med_button"><span>Representatives</span></a>
	</div>
	<div id="csens" class="<%= @tab_state %>">
		<a href="/people/compare" class="med_button"><span>Senators</span></a>
	</div>
</div>

		<div id="compbox">
			<div class="cbox-bottom">
				<div class="cbox-top">
					<div class="cbox clearfix second">

						<% form_tag('/people/compare', :method => :get) do %>
						<% if params[:representatives] %>
						<%= hidden_field_tag "representatives", "true" %>
						<% end %>
						<%= select_tag "person1", options_from_collection_for_select(@peeps, "id", "select_list_name", @person1.nil? ? nil : @person1.id), {:onchange => "this.form.submit();" }%> 
						<span>AND</span> 
						<%= select_tag "person2", options_from_collection_for_select(@peeps, "id", "select_list_name", @person2.nil? ? nil : @person2.id), {:onchange => "this.form.submit();"} %>
						<br />
						<div><%= submit_tag 'Compare' %></div>
						<% end %>      
					
					
					
					
						<div>
							<div class="comppeeps">
								<h3><%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %></h3>
                <%= link_to(image_tag(@person1.photo_path(:full, :ignore_missing), :class => 'legislator-photo-full', :alt=> @person1.full_name).html_safe, :controller => 'people', :action => 'show', :id => @person1.ident) %>
								<p>
									<b>State:</b> <%= @person1.state %><br/>
									<b>Party:</b> <%= @person1.party %><br/>
									<b>Abstains:</b> <%= @person1.abstains_percentage.round %>%<br/>
									<% if @person1.person_approvals.count > 0 %>
									<b>OpenCongress Users' Approval Rating:</b> <%= (@person1.person_approvals.average(:rating) * 10.0).round %>%<br/>
									<% end %>
								</p>

							</div>                      
							<div class="comppeeps right">
								<h3><%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %></h3>
                <%= link_to(image_tag(@person2.photo_path(:full, :ignore_missing), :class => 'legislator-photo-full', :alt=> @person2.full_name).html_safe, :controller => 'people', :action => 'show', :id => @person2.ident) %>      
								<p>
									<b>State:</b> <%= @person2.state %><br/>
									<b>Party:</b> <%= @person2.party %><br/>
									<b>Abstains:</b> <%= @person2.abstains_percentage.round %>%<br/>
									<% if @person2.person_approvals.count > 0 %>
									<b>OpenCongress Users' Approval Rating:</b> <%= (@person2.person_approvals.average(:rating) * 10.0).round %>%<br/>
									<% end %>
								</p>

							</div>     
						</div>


					
					
					
					</div>

				</div>
			</div>
		</div>
	</div>






<div class="voting_similarity">
  <% unless @shared_votes.count == 0 %>
    <div class="comp-well comp-well-left">
      <h3><%= @person1.full_name %>'s Party Votes</h3>
      <div>
        <% unless @p1_voted_with_party_pct.nil? %>
          <img src="http://chart.apis.google.com/chart?cht=v&amp;chs=240x120&amp;chco=ff9900,6FC6B0&amp;chd=t:<%= @p1_voted_total %>,<%= @p1_voted_with_party %>,0,<%= @p1_voted_with_party_pct %>&amp;chdl=<%= @person1.party.pluralize %>|<%= @person1.lastname %>" style="margin:3px;border:3px solid #FFFFFF;"/>
          <p>
          In the <%= Settings.default_congress.ordinalize %> congress, <%= @person1.full_name %>
        has voted with their party on <%= @p1_voted_with_party %> out of <%= @p1_voted_total %>
      roll calls, representing a voting similarity of <%= @p1_voted_with_party_pct %>%.
      </p>
        <% end %>
      </div>
    </div>  

    <div class="comp-well comp-well-middle">
      <h3>Voting Similarity</h3>
      <img src="http://chart.apis.google.com/chart?cht=v&amp;chs=240x120&amp;chco=ff9900,6FC6B0&amp;chd=t:<%= @person2.unabstained_roll_calls.count %>,<%= @person1.unabstained_roll_calls.count %>,0,<%= @voted_together_pct %>&amp;chdl=<%= @person2.lastname%>|<%= @person1.lastname %>" style="margin:3px;border:3px solid #FFFFFF;"/>
      <div>
        <p>
        In the <%= Settings.default_congress.ordinalize %> congress, 
        <%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %>
        and
        <%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %>
        have voted together on <%= @voted_together %> of <%= @voted_total %> roll call votes
        in which neither abstained,
        representing a voting similarity of
        <%= @voted_together_pct %>%.
        </p>
      </div>
    </div>  
    <div class="comp-well comp-well-right">
      <h3><%= @person2.full_name %>'s Party Votes</h3>
      <div>
        <% unless @p2_voted_with_party_pct.nil? %>
          <img src="http://chart.apis.google.com/chart?cht=v&amp;chs=240x120&amp;chco=ff9900,6FC6B0&amp;chd=t:<%= @p2_voted_total %>,<%= @p2_voted_with_party %>,0,<%= @p2_voted_with_party_pct %>&amp;chdl=<%= @person2.party.pluralize %>|<%= @person2.lastname %>" style="margin:3px;border:3px solid #FFFFFF;"/>
          <p>
          In the <%= Settings.default_congress.ordinalize %> congress, <%= @person2.full_name %>
          has voted with their party on <%= @p2_voted_with_party %> out of <%= @p2_voted_total %>
          roll calls, representing a voting similarity of <%= @p2_voted_with_party_pct %>%.
          </p>
        <% end %>
      </div>
    </div>  
    <div class="cf">
    &nbsp;
    </div>
  </div>
<% end %>



<h3>Shared Committees</h3>
<p class="shared"><% unless @shared_committees.empty? %>  <%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %> and <%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %> sit together on 
	<% if @shared_committees.length > 1 %>
	<% @shared_committees.each do |c| %>
	<% if c == @shared_committees.last %>
	and
	<% end %>
	<% if c.subcommittee_name.blank? %>
	the <%= link_to c.name, :controller => :committee, :action => :show, :id => c.to_param %> committee
	<% else %>
	the <%= link_to c.subcommittee_name, :controller => :committee, :action => :show, :id => c.to_param %> sub-committee of the <%= link_to c.name, :controller => :committee, :action => :show, :id => c.to_param %> committee
	<% end %>
	<% if @person1 == c.chair %> (chaired by <%= @person1.lastname %>) <% elsif @person2 == c.chair %> (chaired by <%= @person2.lastname %>)<% end %>
	<% if c == @shared_committees.last %>
	.
	<% else %>
	,
	<% end %>
	<% end %>
	<% else %>
	<% if @shared_committees.first.subcommittee_name.blank? %>
	the <%= link_to @shared_committees.first.name, :controller => :committee, :action => :show, :id => @shared_committees.first.to_param %> committee <% if @person1 == @shared_committees.first.chair %> (chaired by <%= @person1.lastname %>) <% elsif @person2 == @shared_committees.first.chair %> (chaired by <%= @person2.lastname %>)<% end %>
	.
	<% else %>
	the <%= link_to @shared_committees.first.subcommittee_name, :controller => :committee, :action => :show, :id => @shared_committees.first.to_param %> sub-committee of the <%= link_to @shared_committees.first.name, :controller => :committee, :action => :show, :id => @shared_committees.first.to_param %> committee
	.
	<% end %>
	<% end %>
	<% else %>
	<%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %> and <%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %> are not on any common committees.
	<% end %>
</p>






<h3 class="dark">Roll Call Comparision</h3>

<% if @votes.length > 0 %>
  <p>
  The list includes all roll calls in the <%= @chamber %> involving both members.
  </p>

  <table class="comp" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="rc-question">Question</th>
        <th class="rc-date">Date</th>
        <th class="rc-number">Roll Call</th>
        <th class="rc-vote"><%= @person1.lastname %></th>
        <th class="rc-vote"><%= @person2.lastname %></th>
      </tr>
    </thead>
    <tbody>
      <% @votes.each do |pair| %>
        <% rc = pair.first %>
        <% votes = pair.second %>
        <tr class="<%= roll_call_css_class(rc) %> billlist">
          <td class="rc-question"><%= rc.question %> (<%= rc.bill.any_title(:bare) %>)
            <% if rc.bill and rc.bill.is_major %>
              <span class="yellow-star"></span>
            <% end %>
          </td>
          <td class="rc-date"><%= rc.date.strftime('%m/%d/%Y') %></td>
          <td class="rc-number"><%= link_to rc.number, :controller => 'roll_call', :action => :show, :id => rc.id %></td>
          <td class="<%= singular_vote_css_class(votes[@person1.id].first.vote) %> rc-vote"><%= vote_name(votes[@person1.id].first.vote) %></td>
          <td class="<%= singular_vote_css_class(votes[@person2.id].first.vote) %> rc-vote"><%= vote_name(votes[@person2.id].first.vote) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
  <% if @p1_voted_total == 0 %>
    Since <%= @person1.full_name %> has not voted on any bills, we cannot show you a roll call comparison.
  <% elsif @p1_voted_total == 0 %>
    Since <%= @person2.full_name %> has not voted on any bills, we cannot show you a roll call comparison.
  <% else  %>
    <%= @person1.full_name %> and <%= @person2.full_name %> have not voted on any of the same bills.
  <% end %>
  </p>
<% end %>

<p>
<br />
<br />For more information, view the full voting history of these two members:
<%= link_to @person1.full_name, :controller => 'people', :action => 'voting_history', :id => @person1.ident %> and
<%= link_to @person2.full_name, :controller => 'people', :action => 'voting_history', :id => @person2.ident %>
</p>


<% else %>
<div class="explains">
	<ul>
		<li>Side-by-side voting records on hot bills</li>
		<li>How often they vote together</li>
		<li>How often they vote with their party</li>
		<li>and more...</li>
	</ul>
</div>
<div class="explains2">
	<p>With this tool, you can compare the voting records of any two senators or representatives during the current <%= Settings.default_congress %>th session of Congress. </p>
<br/>
	<p><strong>Start by choosing two people from the drop-down menus</strong></p>
	<br /.>
</div>

<div id="compopts">
	
	<div class="ctabs">
	<div id="creps" class="<%= @tab_state %>">
		<a href="/people/compare?representatives=true" class="med_button"><span>Representatives</span></a>
	</div>
	<div id="csens" class="<%= @tab_state %>">
		<a href="/people/compare" class="med_button"><span>Senators</span></a>
	</div>
	</div>
	
	<div id="compbox">
		<div class="cbox-bottom">
			<div class="cbox-top">
				<div class="cbox clearfix first">
					<%= image_tag 'smallc1.png', :alt => 'person', :style => 'float:right;margin:0px 10px 10px 0;' %>
					<%= image_tag 'smallc2.png', :alt => 'person', :style => 'float:left;margin:0px 0 10px 10px;' %>
					<% form_tag('/people/compare', :method => :get) do %>
					<% if params[:representatives] %>
					<%= hidden_field_tag "representatives", "true" %>
					<% end %>
					<%= select_tag "person1", options_from_collection_for_select(@peeps, "id", "select_list_name") %> 
					<span>AND</span> 
					<%= select_tag "person2", options_from_collection_for_select(@peeps, "id", "select_list_name") %>
					<br />
					<div><%= submit_tag 'Compare' %><div>
					<% end %>      
				</div>
			</div>
		</div>
	</div>
</div>

<div class="related-box2 clearfix">
	Or check out one of these popular comparisons:
	<ul class="inline">
		<li><a href="/people/compare?representatives=true&person1=400311&person2=400227&commit=Compare">Ron Paul and Dennis Kucinich</a></li> 
		<li><a href="/people/compare?person1=300022&person2=400629&commit=Compare">Clinton and Obama</a></li> 
		<li><a href="/people/compare?representatives=true&person1=400034&person2=400075&commit=Compare">Roy Blunt and Jim Clyburn</a></li>
		</ul>
</div>
<% end %>

</div>
</div>


</div>
