<%= javascript_include_tag 'iewidget' %>
<script type="text/javascript">
    var InfEx = new IE({apikey: '<%= ApiKeys.sunlightlabs_key %>',
                        cycle: <%= current_election_cycle %>})

    InfEx.Lookup('urn:crp:recipient', '<%= @person.osid %>')
    .done(function(infex_id){
        InfEx.IndustriesWidget({
            target: 'div#industries',
            recipient: infex_id
        });

        InfEx.ContributorsWidget({
            target: 'div#contributors',
            recipient: infex_id
        })

        var infex_url = 'http://influenceexplorer.com/politician/_/:id:';
        infex_url = infex_url.replace(':id:', infex_id);
        jQuery('a#infex-person-page').attr('href', infex_url);
    });
</script>

<div id="money_trail">
  <h2>Campaign Contributions by Industry</h2>

  <p>This is a list of the top 10 industries giving campaign contributions to <%= @person.popular_name %> during the <%= current_election_cycle %> election cycle.
  </p>

  <div id="industries">
  </div>

  <br />

  <h2>Top Campaign Contributors</h2>

  <p>This is a list of the top 10 campaign contributions to <%= @person.popular_name %> during the <%= current_election_cycle %> election cycle.
  </p>

  <div id="contributors">
  </div>

  <div id="infex-linkout">
      For more complete campaign finance information see the <a id="infex-person-page" href="http://influenceexplorer.com/search?query=<%= @person.full_name %>">Influence Explorer page for <%= @person.full_name %></a>
  </div>

  <% unless @fundraisers.empty? %>
    <h2 style="margin-top: 30px;">Fundraisers</h2>
    <p>Below are the three most recent fundraising events for <%= @person.popular_name %>.</p>

    <% @fundraisers[0..2].each do |f| %>
      <%= render :partial => 'fundraiser', :object => f %>
    <% end %>

    <div class="fundraiser_more_button"><p><span><%= link_to "See all events (#{@fundraisers.size})", { :controller => 'people', :action => 'fundraisers', :id => @person }, :class => 'button small blue' %></span></p></div>

    <div class="partner_logo">
    <div class="logos">
      <%= link_to image_tag('partners/influenceexplorer.png'), "http://influenceexplorer.com", :target => "_blank" %><br />
      <%= link_to image_tag('partners/partytime.png'), "http://politicalpartytime.org", :target => "_blank" %>
    </div>
    <p>Campaign finance figures via the Sunlight Foundation’s <%= link_to "InfluenceExplorer.com", "http://influenceexplorer.com", :target => "_blank" %>
       (data provided by the <%= link_to "Center for Responsive Politics", "http://opensecrets.org", :target => "_blank" %>).
       Contribution data is constantly being updated; for the most current information visit <%= @person.popular_name.possessive %>
       Influence Explorer page. Fundraiser data provided by <%= link_to "Sunlight’s Political Party Time", "http://politicalpartytime.org", :target => "_blank" %>
       and is determined by the availability of event information.
    </p>
    </div>
  <% end %>
</div>
