<%= javascript_include_tag 'iewidget' %>
<script type="text/javascript">
    var InfEx = new IE({apikey: '<%= ApiKeys.sunlightlabs_key %>',
                        cycle: <%= current_election_cycle %>})

    InfEx.Lookup('urn:crp:recipient', '<%= @person.osid %>')
    .done(function(infex_id){
        InfEx.IndustriesWidget({
            target: 'div#industries',
            recipient: infex_id
        });

        InfEx.ContributorsWidget({
            target: 'div#contributors',
            recipient: infex_id
        })

        var infex_url = 'http://influenceexplorer.com/politician/_/:id:';
        infex_url = infex_url.replace(':id:', infex_id);
        jQuery('a#infex-person-page').attr('href', infex_url);
    });
</script>

<div id="money_trail">
  <h2>Campaign Contributions by Industry</h2>

  <p>This is a list of the top 10 industries giving campaign contributions to <%= @person.popular_name %> during the <%= current_election_cycle %> election cycle.
  </p>

  <div id="industries">
  </div>

  <br />

  <h2>Top Campaign Contributors</h2>

  <p>This is a list of the top 10 campaign contributions to <%= @person.popular_name %> during the <%= current_election_cycle %> election cycle.
  </p>

  <div id="contributors">
  </div>

  <div id="infex-linkout">
      For more complete campaign finance information see the <a id="infex-person-page" href="http://influenceexplorer.com/search?query=<%= @person.full_name %>">Influence Explorer page for <%= @person.full_name %></a>
  </div>

  <% unless @fundraisers.empty? %>
    <h2 style="margin-top: 30px;">Fundraisers</h2>
    <p>Below are the three latest fundraising events for <%= @person.popular_name %>.</p>

    <% @fundraisers[0..2].each do |f| %>
      <%= render :partial => 'fundraiser', :object => f %>
    <% end %>

    <div class="fundraiser_more_button"><p><span><%= link_to "See all events (#{@fundraisers.size})", { :controller => 'people', :action => 'fundraisers', :id => @person }, :class => 'med_button' %></span></p></div>

    <div class="partner_logo">
    <%= link_to image_tag('partners/opensecrets.png'), "http://opensecrets.org" %>
    <p>Campaign contribution data provided by <%= link_to "OpenSecrets.org", "http://OpenSecrets.org" %>,
      the nonpartisan guide to money in politics. * Contribution data is
      constantly being updated and this page may not be entirely up to date.
      For the most current info visit
      <a href="http://www.opensecrets.org/politicians/summary.php?cycle=<%= Settings.current_opensecrets_cycle %>&cid=<%= @person.osid %>"><%= @person.popular_name.possessive %> OpenSecrets profile</a>.</p>
    </div>

    <div class="fundraiser_footer"><p>Fundraiser data provided by <a href="http://politicalpartytime.org" target="_new">Political Party Time</a>.</p></div>
  <% end %>
</div>
