<% content_for :open_graph do %>
  <%= open_graph_meta(:title => "#{@person.title} #{@person.full_name} on OpenCongress",
                      :image => "#{Settings.base_url}images/#{@person.photo_path}"
                      ) %>
<% end %>

<%= render :partial => 'shared/stats_box', :object => @sidebar_stats_object if @sidebar_stats_object %>

<% cache("#{@person.fragment_cache_key}_header") do %>
  <% if @person.committees.any? %>
    <% committees = @person.committees.sort_by { |c| [(c.name || ""), (c.subcommittee_name || "") ] }.group_by(&:name) %>
    <div class="committee_list">
      <h2 class="dark">Committee Memberships</h2>
      <ul class="list">
        <%= render(:partial =>'shared/committees_list', :locals => {:committees => committees }, :collection => committees.keys.sort, :as => :name) %>
      </ul>
    </div>
  <% end %>
<% end %>

<div id="bill_and_status_list">
  <% sponsored_bills = @person.bills.limit(3) %>
  <% if sponsored_bills.any? %>
    <h2>Most Recent Sponsored Bills</h2>
    <%= render(:partial => 'bill/related_bills_list', :locals => { :related_bills_list => sponsored_bills })%>
    <% if @person.bills.size > 3 %>
      <a href="/people/bills/<%= @person.to_param %>#sponsored" class="med_button bold"><span>View All Sponsored Bills (<%= @person.bills.size %>)</span></a>
    <% end %>
    <div class="clear">&nbsp;</div>
  <% end %>

  <% cosponsored_bills = @person.bills_cosponsored.limit(3) %>
  <% if cosponsored_bills.any? %>
    <h2>Most Recent Co-Sponsored Bills</h2>
    <%= render(:partial => 'bill/related_bills_list', :locals => { :related_bills_list => cosponsored_bills })%>
    <% if @person.bills_cosponsored.size > 3 %>
      <a href="/people/bills/<%= @person.to_param %>#cosponsored" class="med_button bold co"><span>View All Co-Sponsored Bills (<%= @person.bills_cosponsored.size %>)</span></a>
    <% end %>
  <% end %>
</div>

<div class="clear">&nbsp;</div>

<% if @person.votes(3).any? %>
  <div id="voting_history">
    <h2>Recent Voting History</h2>
    <%= site_text_explain('voting_history') %>
    <%= render(:partial => 'voting_history', :locals => { :votes => @person.votes(3) }) %>
    <a href="/people/voting_history/<%= @person.to_param %>" class="silver medium button floatleft margin-top margin-left push-left push-top clearnone"><span>View Full Voting History</span></a>
  </div>
<% end %>

<% if @person.votes? %>
  <div class="compare_select">
    <form id="person_vote_compare_select" action="/people/compare" method="get">
      <span>Compare votes to</span>
      <input type="hidden" name="person1" value="<%= @person.id %>">
      <% compare_people = @person.senator? ? Person.senators : Person.voting_representatives %>
      <% compare_people.delete @person %>
      <%= select_tag "person2", options_from_collection_for_select(compare_people, "id", "select_list_name"), :onchange => "$('person_vote_compare_select').submit();" %>
      <% if @person.representative? %><input type="hidden" name="representatives" value="true"><% end %>
    </form>
  </div>
<% end %>

<% unless @person.videos.empty? %>
  <div id="person_video" class="cols-box clearfix">
    <h2 class="darkline clear">Videos of <%= @person.popular_name %></h2>
    <%= render :partial => 'shared/videos', :object => @person.videos.find(:all, :limit => 2),
               :locals => { :more_url => (@person.videos.size > 2) ? link_to("See more videos (#{@person.videos.size} total)", { :controller => 'people', :action => 'videos', :id => @person }, :class => "arrow") : nil } %>
  </div>
<% end %>

<div class="padding">
  <% if @featured_person_text %>
    <h2>Featured Members of Congress</h2>
    <div id="featured_person">
      <p class="bold behave">On <%= @featured_person_text.created_at.strftime("%B %d, %Y") %> <%= @person.popular_name %> was featured on the homepage of OpenCongress:</p>
      <blockquote>
        <%= @featured_person_text.text %>
      </blockquote>
    </div>
  <% end %>
</div>
