<% if false %>
  TODO:
  - Should include filter options on right side: by congress
<% end %>

<% if @item_count > 0 %>
  <div id="heading">
    <h2>Search Results for "<%= @query %>"</h2>
    <p class="floatright">For suggestions on how to optimize your search, please visit the <a href="/search/tips">Search Tips</a> page.</p>
  </div>

  <div class="padding">

    <p class="floatright didnt">
    <strong class="blue">Didn't find what you're looking for?</strong><br /> Try searching <strong>all available sessions</strong> with an <a href="/search">Advanced Search</a>.
    </p>

    <p style="width: 400px; padding: 15px 0; font-size: 13px; line-height: 1.8em;" class="floatleft"><b><%= number_with_delimiter(@item_count) %></b> items found<% if @congresses == ["#{Settings.default_congress}"]%> <strong>in the
        current session of Congress</strong><% end %> for <strong style="color:#222;">"<%= @query %></strong>".
    <br />
    <em>Search results are listed in order of relevance.</em></p>
    <br/>
    <!-- <p>For suggestions on how to optimize your search, please visit the <a href="/search/tips">Search Tips</a> page.</p> -->

    <div id="all-search-results">

      <% if @search_people && @people.size > 0 %>

        <div class="member_search">
          <h3 class="line2">Members of Congress <em> Found <b><%= number_with_delimiter(@people_found.total_count) %></b> members of Congress.</em></h3>

          <div class="pagination_links">
            <%= will_paginate(@people_found, :params => { :q => @query, :search_people => '1'}) %>
          </div>
          <%= render :partial => 'people/people_list', :locals => { :show_contact => false, :people => @people }%>
          Found <b><%= number_with_delimiter(@people_found.total_count) %></b> members of Congress.

        </div>

      <% end %>

      <% if @search_bills && @bills.size > 0 %>

        <div class="bill_search">
          <h3 class="line2">Bills <em><%= total_and_pageview('bills', @bills_found.total_count, @page).html_safe %></em></h3>

          <div class="pagination_links">
            <%= will_paginate(@bills_found, :params => { :q => @query, :search_bills => '1'}) %>
          </div>
          <%= render(:partial => "bill/related_bills_list", :locals => { :related_bills_list => @bills, :show_congress_session => true }) %>

        </div>
      <% end %>

      <% if @search_issues && @issues.size > 0 %>

        <div class="issue_search">

          <h3 class="line2">Issues <em> Found <b><%= number_with_delimiter(@issues_found.total_count) %></b> issues.</em></h3>


          <div class="pagination_links">
            <%= will_paginate(@issues_found, :params => { :q => @query, :search_issues => '1'}) %>
          </div>

          <%= render(:partial =>'issue/issue_list', :locals => { :subjects => @issues }) %>


        </div>

      <% end %>


      <% if @search_committees && @committees.size > 0 %>
        <div class="committees_search">

          <h3 class="line2">Committees <em>Found <b><%= @committees_total %></b> committees.</em></h3>
          <ul class="list">
            <%= render :partial =>'shared/committees_list', :locals => {:committees => @committees }, :collection => @committees.keys.sort, :as => :name %>
          </ul>
        </div>
      <% end %>

      <% if @search_comments && @comments.size > 0 %>
        <div class="comments_search">
          <h3 class="line2">User Comments <em>Found <b><%= number_with_delimiter(@comments_found.total_count) %></b> comments.</em></h3>
          <div class="pagination_links">
            <%= will_paginate(@comments_found, :params => { :q => @query, :search_comments => '1'}) %>
          </div>
          <ul id="small_comments">
            <% @comments.each do |comment| %>
              <li>
              <a href="<%= url_for(comment.commentable_link.merge({:goto_comment => comment.id})) %>" class="comment">
                <span class="text"><%= truncate(comment.headline.html_safe, :length => 120) %></span>
                <p class="floatright">
                For suggestions on how to optimize your search, please visit the <a href="/search/tips">Search Tips</a> page.
                </p>
              </a>
              </li>
            </div>
          <% end %>
        </div>
      <% end %>
<% else %>
    <br />
    <div class="padding">
    <p class="behave" style="color:red">Your search did not return any results.</p>
    <p class="behave">
      Didn't find what you were looking for? Visit our <a href="/search/tips">Search Tips</a> page for suggestions on how to optimize your search. We will be continually improving our search function to make it easier to find the Congressional information you're looking for. If you have feedback about your search experience on OpenCongress, send us an e-mail: <script type="text/javascript">m(<%= raw(Settings.contact_us_email.split(/[@\.]/).push("1").map(&:to_json).join(',')) %>);</script>.
    </p>
    <p>
      <%= render :partial => 'big_search_form', :locals => { :show_form => true } %>
    </p>
    </div>
<% end %>

