<table class="like_voters" cellpadding="0" cellspacing="0">
<tr class="top">
  <th class="first">User</th>
  <th class="centered">District</th>
  <th class="centered">Location</th>
  <th class="centered">Last Login</th>
  <th class="centered">Actions</th>
  <% if @person %>
    <th class="centered">Approval</th>
  <% elsif @bill %>
    <th class="centered">Vote</th>
  <% end %>
  <th style="padding-left:12px;">Friends +</th>
</tr>
<% collection.each do |u| %>
  <tr class=<%= cycle('odd','even') %>>
    <td class="first photo">
      <%= link_to avatar_for(u, :size => :small, :alt => "Photo of"), user_profile_path(u.login) %><br/>
      <%= link_to u.login, user_profile_path(u.login) %>
    </td>
    <td class="centered"><%= u.district %></td>
    <td class="centered"><%= privileged(:location, :subject => u, :permission => :location) %></td>
    <td class="centered">
      <% if u.last_login.nil? %>
        never
      <% else %>
        <%= "#{time_ago_in_words(u.last_login)} ago" %>
      <% end %>
    </td>
    <td class="centered">
      <% if u.can_view(:actions, current_user) %>
        <%= link_to(u.action_count, :controller => :profile, :action => :actions, :login => u.login) %>
      <% else %>
        <%= private_img %>
      <% end %>
    </td>
    <td class="centered">
      <% if u.can_view(:actions, current_user) %>
        <%= rating_for(@object, :rater => u) %>
      <% else %>
        <%= private_img %>
      <% end %>
    </td>
    <td style="padding-left:12px;">
      <div id="fdiv_<%= u.id %>">
        <%= add_friend_link_ajax(u, :update => "fdiv_#{u.id}") %>
      </div>
    </td>
    </tr>
<% end %>
</table>
