<% bills = hot_bill_category.hot_bills.find(:all, :conditions => ["session=?", @congress]) %>
<% if bills.size > 0 %>
  <div class="hot_category">
  	<a name="<%= CGI.escape(hot_bill_category.name) %>"></a>
  	<h3><%= hot_bill_category.name %></h3>
  	<ul class="bills_list">  
  		<% bills.each do |b| %>
  		<li class="<%= bill_category(b) %>">
  			<span><%= render :partial => "shared/track_link", :locals => {:object => b} %></span>
  			<a class="icon_link" href="<%= bill_path(b) %>">

  			<div class="title">
          <span class="a"><%= truncate(b.any_title(:full), :length => 103) %></span>

          <% if b.plain_language_summary.to_s != '' %>
            <%= b.plain_language_summary.gsub(/<\/?[^>]*>/, "") %>
  				<% else %>
            <% unless b.official_title == b.any_title(:bare) %>
              <p><%= truncate(b.official_title, :length => 145) %></p>
            <% end %>
          <% end %>
  			</div>

  			<span class="status">
  				<span><%= b.status %></span>
  				<span class="date"><%= b.last_action.formatted_date if b.last_action %></span>
  				<% unless b.session == Settings.default_congress %>
  				<span>(<%= b.session.ordinalize %> congress)</span>
  				<% end %>
  			</span>
  			</a> 
  		</li>
  		<% end %>
  	</ul>
  </div>
<% end %>

