<% show_views ||= true %>
<% show_views = (show_views == 'off') ? false : true %>
<% commentary_type ||= false %>
<% show_track_link ||= false %>
<% show_congress_session ||= false %>

<ul class="bills_list">

  <% if related_bills_list.any? %>
    <% related_bills_list.each_with_index do |bill, i| -%>
      <li class="<%= bill_category(bill) %>">
        <a class="icon_link" href="<%= bill_path(bill) %>">
          <% if commentary_type %>
            <span class="list_count"><%= (i + 1) %></span>
          <% else %>
          <% end %>

          <div class="title">
            <span class="a"><%= truncate(bill.any_title(:full), :length => 103) %></span>

            <%# Here we are using the offical title as a summary since official summaries are often too long to be useful. %>
            <% unless bill.official_title == bill.any_title %>
              <%# FIXME: This should really be an optional parameter to this template. %>
              <% if controller.action_name == 'list_bill_type' %>
                <%= truncate(bill.official_title, :length => 145) %>
              <% else %>
                <%= bill.official_title %>
              <% end %>
            <% end %>
          </div>

          <span class="status">

            <% if bill.last_action.text %>
              <span><%= until_preposition(bill.last_action.text) %></span>
            <% else %>
              <span><%= bill.last_action.action_type.capitalize %></span>
            <% end %>

            <span class="date"><%= bill.last_action.formatted_date if bill.last_action %></span>

            <% unless bill.session == Settings.default_congress %>
              <span>(<%= bill.session.ordinalize %> congress)</span>
            <% end %>

          </span>


          <% if show_views %>
            <span class='session'><%= number_with_delimiter(bill.views(Settings.default_count_time)) %> Views</span>
          <% end %>



          <% if commentary_type %>
            <span class='session'>
              <%= number_with_delimiter(bill.commentary_count(commentary_type, Settings.default_count_time)) %> Articles
            </span>
          <% end %>
        </a>
        <% if show_track_link %>
          <span><%= render :partial => "shared/track_link", :locals => {:object => bill} %></span>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <h3>No Bills Found</h3>
  <% end %>
</ul>
