<div class="<%= cycle('a','b') %>">
  <div class="roll small_padding">
  
    
        <span class="date roll floatright"><strong>Result: <%= vote.result %></strong> - <%= vote.date.strftime("%B %d, %Y") %></span>

    <h3 class="floatleft"><%= link_to "Roll call number <b>#{vote.number}</b>".html_safe, :controller => 'roll_call', :action => 'show', :id => vote.id %>

    <span><% if vote.amendment %>(Amendment number <b><%= vote.amendment.display_number %></b>)<% end %> in the <b><%= vote.chamber %></b></span>


</h3>



    
    
    
    
      <p class="clear"><em>Question:</em> <%= vote.question %></p>
      
      
      <% if vote.amendment %>
      
        <p><em>Amendment purpose:</em> <%= vote.amendment.purpose %></p>
      
      <% end %>

      <div class="pies clear">
        <div class="pie-chart" id='roll_call_Aye_chart_<%= vote.id %>'>
          <%= chart_html_for_vote_type(vote.affirmative_type, 165, 120, :roll_call => vote, :params => { :radius => 40, :disclaimer_off => true }).html_safe %>
        </div>
        <div class="pie-chart" id='roll_call_Nay_chart_<%= vote.id %>'>
          <%= chart_html_for_vote_type(vote.negative_type, 165, 120, :roll_call => vote, :params => { :radius => 40, :disclaimer_off => true }).html_safe %>
        </div>
        <div class="pie-chart last" id='roll_call_Abstain_chart_<%= vote.id %>'>
          <%= chart_html_for_vote_type(vote.present_type, 165, 120, :roll_call => vote, :params => { :radius => 40, :disclaimer_off => true }).html_safe %>
        </div>
      </div>
  

    <div class="clear">&nbsp;</div>

  </div>
</div>
