<%= render :partial => 'heading' %>
<div id="views" class="clearfix">
    <%= render :partial => 'sidebar' %>
    <div id="contain_issues" class="contain_list clearfix">
        <div id="sort_nav">
            <%= render :partial => 'filter_issues' %>
            <%#= will_paginate @subjects if @subjects.respond_to? :total_pages %>
        </div>
        <%= render :partial => 'issue_list', :locals => {:subjects => @subjects} %>
        <%= will_paginate @subjects if @subjects.respond_to? :total_pages %>
    </div>
</div>
