%ul.container_12
  %li.grid_12.table_header
    %span.grid_1.alpha= "&nbsp;".html_safe
    %span.grid_3= link_to 'Name', '#', :id => 'name', :class => group_header_class('groups.name', @sort)
    %span.grid_6.descrip Description
    %span.grid_3= link_to 'Issue Area of Focus', '#', :id => 'issue_area', :class => group_header_class('issue_area', @sort)
    %span.grid_2.omega= link_to 'Members', '#', :id => 'group_members', :class => group_header_class('group_members', @sort)

%ul.container_12
  - groups.each do |g|
    %li.grid_12.lined
      %span.grid_1.alpha
        .thumb.smaller= group_image(g)
      %span.grid_3= link_to "<strong>#{g.name}</strong>".html_safe, g
      %span.grid_6.descrip= g.description.present? ? g.description : "&nbsp;".html_safe
      %span.grid_3= g.subject.present? ? g.subject.term : "&nbsp;".html_safe
      %span.grid_2.large-count= group_members_num_with_delimiter(g)
      - cell_text = ''
      - if logged_in?
        - if g.is_member?(current_user)
          - cell_text += link_to 'Leave', group_group_member_path(g, g.group_members.find_by_user_id(current_user.id)), :method => 'delete', :class => 'button yellow small floatright'

        - else
          - if g.can_join?(current_user)
            - cell_text += link_to 'Join', group_group_members_path(g, :status => 'MEMBER'), :method => 'post', :class => 'button blue small floatright'
      - else
        - if g.join_type == 'ANYONE'
          - cell_text += link_to 'Join', group_group_members_path(g, :status => 'MEMBER'), :method => 'post', :class => 'button blue small floatright'
      %span.grid_1.omega= cell_text.html_safe

.floatleft.padding
  = will_paginate @groups

- unless defined?(no_js)
  :javascript
    var doSearch = function(url) {
      console.log(url);
      $('#group_search_spinner').show();
      $j.ajax({
        url: url || '#{groups_path(:format => "js")}?q=' + $('#group_search_field').val() + '&subject=' +  $('#group_issue').val() + '&sort=' + $('#group_sort').val()
      });
    }

    // if pagination links reference groups.js, ajax their url instead of navigating.
    $('.pagination a').live('click', function(e){
      if ($(this).attr('href').match('groups.js')) {
        e.preventDefault();
        e.stopPropagation();
        doSearch($(this).attr('href'));
      };
    });

    $('#group_search_field').change(function(){ doSearch(); });
    $('#group_issue').change(function(){ doSearch(); });

    $('.table_header a').live("click", function(e) {
      if (($(this).attr('class') == '') || ($(this).attr('class') == 'down')) {
        $('.table_header a').attr('class', '');
        $(this).attr('class', 'up');
        $('#group_sort').val($(this).attr('id').concat(' ASC'));
      } else {
        $('.table_header a').attr('class', '');
        $(this).attr('class', 'down');
        $('#group_sort').val($(this).attr('id').concat(' DESC'));
      }
      doSearch();
      return false;
    });
