<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bioguide</th>
      <th>Status</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <% if @failed.any? %>
    <tr>
      <td colspan="4"><%= @failed.count %> Failures</td>
    </tr>
    <tr>
      <% @failed.each do |p| %>
      <%= render :partial => 'contact_congress_test', :locals => { :p => p } %>
      <% end %>
    </tr>
    <% end %>

    <% if @unknown.any? %>
    <tr>
      <td colspan="4"><%= @unknown.count %> Unknown</td>
    </tr>
    <tr>
      <% @unknown.each do |p| %>
      <%= render :partial => 'contact_congress_test', :locals => { :p => p } %>
      <% end %>
    </tr>
    <% end %>

    <% if @captcha_required.any? %>
    <tr>
      <td colspan="4"><%= @captcha_required.count %> Captcha Required</td>
    </tr>
    <tr>
      <% @captcha_required.each do |p| %>
      <%= render :partial => 'contact_congress_test', :locals => { :p => p } %>
      <% end %>
    </tr>
    <% end %>
    <% if @passed.any? %>
      <tr>
        <td colspan="4"><%= @passed.count %> Successes</td>
      </tr>
      <tr>
        <% @passed.each do |p| %>
        <%= render :partial => 'contact_congress_test', :locals => { :p => p } %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>