.padding
  %table.contact_steps_list
    %tr
      %th Recipient
      %th # of Letters
      %th Successful deliveries
      %th Warnings
      %th Faxes
      %th Errors
      %th Replies
      %th Since last update
      %th Successful deliveries
      %th Warnings
      %th Faxes
      %th Errors
      %th Replies
    %tr
      %th Congress
      %th= Formageddon::FormageddonThread.count
      %th= Formageddon::FormageddonLetter.where("formageddon_letters.status = 'SENT'").size
      %th= Formageddon::FormageddonLetter.where("formageddon_letters.status like 'WARNING%'").size
      %th= Formageddon::FormageddonLetter.where("formageddon_letters.status like 'SENT_AS_FAX%'").size
      %th= Formageddon::FormageddonLetter.where("formageddon_letters.status like 'ERROR%'").size
      %th= Formageddon::FormageddonLetter.where("formageddon_letters.status = 'RECEIVED'").size
      %th --
      %th --
      %th --
      %th --
      %th --
      %th --

    - @people.each do |p|
      %tr
        %td= p.name
        %td= p.formageddon_threads.size
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_letters.status = 'SENT'").size
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_letters.status like 'WARNING%'").size
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_letters.status like 'SENT_AS_FAX%'").size
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_letters.status like 'ERROR%'").size
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_letters.status = 'RECEIVED'").size
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_threads.created_at >= ?", p.formageddon_contact_steps.last.updated_at).size rescue '?'
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_threads.created_at >= ? and formageddon_letters.status = 'SENT'", p.formageddon_contact_steps.last.updated_at).size rescue '?'
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_threads.created_at >= ? and formageddon_letters.status like 'WARNING%'", p.formageddon_contact_steps.last.updated_at).size rescue '?'
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_threads.created_at >= ? and formageddon_letters.status like 'SENT_AS_FAX%'", p.formageddon_contact_steps.last.updated_at).size rescue '?'
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_threads.created_at >= ? and formageddon_letters.status like 'ERROR%'", p.formageddon_contact_steps.last.updated_at).size rescue '?'
        %td= p.formageddon_threads.includes(:formageddon_letters).where("formageddon_threads.created_at >= ? and formageddon_letters.status = 'RECEIVED'", p.formageddon_contact_steps.last.updated_at).size rescue '?'