<section class="section">

    <h2 class="section__header">Masthead</h2>

    <header class="masthead">
        <div class="masthead__header">
            <div class="masthead__brand">
                <a href="/">
                    <h1 class="sr-only">OpenCongress</h1>
                    <img class="logo" alt="OpenCongress Logo" src="<%= image_path('opencongress_logo.svg') %>">
                </a>
            </div>
            <div class="masthead__actions">
                <button class="button__signup">Sign Up</button>
                <button class="button__login">Log In</button>
            </div>
        </div>
    </header>

    <div class="codeblock">
        <div class="codeblock__example">
            <%= example_code do %>
                <header class="masthead">
                    <div class="masthead__header">
                        <div class="masthead__brand">
                            <a href="/">
                                <h1 class="sr-only">OpenCongress</h1>
                                <img class="logo" alt="OpenCongress Logo" src="<%= image_path('opencongress_logo.svg') %>">
                            </a>
                        </div>
                        <div class="masthead__actions">
                            <button class="button__signup">Sign Up</button>
                            <button class="button__login">Log In</button>
                        </div>
                    </div>
                </header>
            <% end %>
        </div>

        <div class="codeblock__notes">
            <h4>Notes</h4>
            <p>The masthead header consists of two parts: the brand logo, and header actions. It is to be always used in conjuction with the Main Navigation component.</p>
            <p>On small screens, this component collapses entirely and is dependent upon the Main Navigation component to display the brand logo.</p>
        </div>

    </div>

</section>

<section class="section">

    <h2 class="section__header">Main Navigation</h2>

    <nav class="navigation">
            <div class="masthead__header--sm">
                <img class="logo" alt="OpenCongress Logo" src="<%= image_path('opencongress_logo.svg') %>">
                <button type="button" class="navigation__icon">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        
            <div class="navigation__bar">
                <ul class="navigation__links">
                    <li><a href="/issues">Issues</a></li>
                    <li><a href="/bills">Bills</a></li>
                    <li class="is-active"><a href="/house">House</a></li>
                    <li><a href="/senate">Senate</a></li>
                    <li><a href="/committee">Committees</a></li>
                </ul>
                <form class="navigation__search" role="search">
                    <input type="text" class="navigation__search-input" placeholder="Search">
                    <button class="navigation__search-button"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
    </nav>

    <div class="codeblock">
        <div class="codeblock__example">
            <%= example_code do %>
                <nav class="navigation">
                        <div class="masthead__header--sm">
                            <img class="logo" alt="OpenCongress Logo" src="<%= image_path('opencongress_logo.svg') %>">
                            <button type="button" class="navigation__icon">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    
                        <div class="navigation__bar">
                            <ul class="navigation__links">
                                <li><a href="/issues">Issues</a></li>
                                <li><a href="/bills">Bills</a></li>
                                <li class="is-active"><a href="/house">House</a></li>
                                <li><a href="/senate">Senate</a></li>
                                <li><a href="/committee">Committees</a></li>
                            </ul>
                            <form class="navigation__search" role="search">
                                <input type="text" class="navigation__search-input" placeholder="Search">
                                <button class="navigation__search-button"><span class="glyphicon glyphicon-search"></span></button>
                            </form>
                        </div>
                </nav>
            <% end %>
        </div>

        <div class="codeblock__notes">
            <h4>Notes</h4>
            <p>The main navigation consists of a set of links to top level sections of OpenCongress and the global search form, and is to be always used in conjuction with the masthead header.
            <p>On small screens, this component serves as both masthead and navigation.</p>
            <p>The <code>is-active</code> class should be used to indicate the current top level section.</p>
        </div>
    </div>

</section>

<section class="section">

    <h2 class="section__header">Subnavigation</h2>

    <ul class="panel-overview__subnav">
        <li role="presentation">
            <a class="is-active" href="#"> Activity</a>
        </li>
        <li role="presentation">
            <a href="#">Committees</a>
        </li>
        <li role="presentation">
            <a href="#">Members</a>
        </li>
    </ul>

    <div class="codeblock">
        <div class="codeblock__example">
            <%= example_code do %>
            <ul class="panel-overview__subnav">
                <li role="presentation">
                    <a class="is-active" href="#">Activity</a>
                </li>
                <li role="presentation">
                    <a href="#">Committees</a>
                </li>
                <li role="presentation">
                    <a href="#">Members</a>
                </li>
            </ul>
            <% end %>
        </div>

        <div class="codeblock__notes">
            <h4>Notes</h4>
            <p>The subnavigation tab-like component should used in conjuction with an overview panel. It lives immediately beneath an overview panel and is used to break up information about a subject into separate sections.</p>
            <p>This component should be used when anywhere between 2&ndash;4 subsections are available.</p>
            <p>The <code>is-active</code> class should be used to indicate the current section.</p>
            <p><strong>Copy:</strong> Labels should be limited to a single short word if possible to prevent crowding of text.</p>
        </div>
    </div>

</section>

<section class="section">

    <h2 class="section__header">Footer</h2>

    <footer class="footer">
        <div class="container">
            OpenCongress is built by Sunlight Foundation and powered by open data. Learn more below.
            <br>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
    </footer>

    <div class="codeblock">
        <div class="codeblock__example">
            <%= example_code do %>
                <footer class="footer">
                    <div class="container">
                        OpenCongress is built by Sunlight Foundation and powered by open data. Learn more below.
                        <br>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </footer>
            <% end %>
        </div>

        <div class="codeblock__notes">
            <h4>Notes</h4>
            <p>The footer sits at the bottom of every page on OpenCongress.</p>
        </div>
    </div>

</section>