<div class="bootstrap-enabled row email-congress">
  <div class="span6 offset3">

    <%= simple_form_for('profile', :path => '/email_congress/complete_profile', :method => "post", as: 'user_horizontal', html: { class: 'form-horizontal' }, wrapper: :custom_horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      }) do |f| %>
      <input type="hidden" name="confirmation_code" value="<%= @seed.confirmation_code %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="row user-message">
        <% if @sender_user %>
              <% if logged_in? %>
              <span class="username">
                Not <%= @sender_user.login %>?
                <a class="btn btn-small" href="<%= url_for(:controller => :account, :action => :logout, :next => request.url) %>">
                  Logout
                </a>
              </span>
              <% else %>
              <span class="username">
                Hi <%= @sender_user.login %>,
              </span>
              <% end %>
              <p>We need you to fill out the form below before we can send your email<% if @seed.allowed_recipients.any? %>
                  to <%= @seed.allowed_recipients.map(&:full_name).to_sentence %>
                  <% end %>.
              </p>
        <% else %>
          <span class="username">
            Hi [unregistered email],
          </span>
          <p>We need you to fill out the form below before we can send your email to [placeholder names].</p>
        <% end %>
      </div>

        <%= error_messages_for('profile', :header_message => nil) %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :street_address %>
        <%= f.input :street_address_2, :required => false %>
        <%= f.input :city %>
        <%= f.input :state, :collection => State::ABBREVIATIONS %>
        <%= f.input :zipcode, :maxlength => 5, :size => 5 %>
        <%= f.input :mobile_phone %>

      <% if !@sender_user || !@sender_user.accepted_tos? %>
          <%= f.input :accept_tos, :as => :boolean, inline_label: 'I accept the terms and services', label: false %>
      <% end %>

      <div class="control-group">
        <div class="controls">
          <%= f.button :submit, :value => 'Continue' %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <% if !@sender_user %>
            <a class="alt-link" href="<%= url_for(:only_path => false, :controller => :account, :action => :login, :return_to => url_for(:only_path => false, :controller => :email_congress, :action => :confirm, :confirmation_code => @seed.confirmation_code)) %>">I already have an OpenCongress account</a>
          <% end %>
        </div>
      </div>

      <div class="retention-explanation">
        <div class="divider-top">
          <strong>Why do I need to agree to your terms and conditions?</strong>
          <% if !@sender_user || !@sender_user.accepted_tos? %>
          <p>
            <% if !@sender_user %>
              We couldn't find an OpenCongress account for your email address. In
              order for us to send your message you must first agree to our
              terms of service, which will allow us to generate an account for
              you.
            <% elsif !@sender_user.accepted_tos? %>
              Our terms of service have been updated since you last used your
              OpenCongress account. In order for us to send your message you must
              first agree to these updated terms of service.
            <% end %>
          </p>
          <% end %>
        </div>
        <div class="divider-top">
          <strong>What if I don't want to provide this information?</strong>
          <p>
            You can use the rest of our website without providing this
            information. However, we must collect this information because
            congressional contact systems require it. We retain this information
            to ensure proper delivery.
          </p>
        </div>
      </div>

    <% end %> <!-- end form_for -->

</div>


