<div class="bootstrap-enabled row">
  <div class="span6 offset3">

    <%= simple_form_for('profile', :path => '/email_congress/complete_profile', :method => "post", as: 'user_horizontal', html: { class: 'form-horizontal' }, wrapper: :custom_horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      }) do |f| %>
      <input type="hidden" name="confirmation_code" value="<%= @seed.confirmation_code %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <% if @sender_user %>
        <div class="row user-message">
              <% if logged_in? %>
              <span class="username">
                Not <%= @sender_user.login %>?
                <a class="btn btn-small" href="<%= url_for(:controller => :account, :action => :logout, :next => request.url) %>">
                  Logout
                </a>
              </span>
              <% else %>
              <span class="username">
                Hi <%= @sender_user.login %>,
              </span>
              <% end %>
              <p>We need you to fill out the form below before we can send your email to Senator Charles Schumer, Senator Kristen Gilibrand and Representative Peter King.</p>
        </div>
      <% end %>

        <%= error_messages_for('profile', :header_message => nil) %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :street_address %>
        <%= f.input :street_address_2, :required => false %>
        <%= f.input :city %>
        <%= f.input :state, :collection => State::ABBREVIATIONS %>
        <%= f.input :zipcode, :maxlength => 5, :size => 5 %>
        <%= f.input :mobile_phone %>

      <% if !@sender_user || !@sender_user.accepted_tos? %>
        <div class="form-line-wrapper">
          <% if !@sender_user %>
            We couldn't find an OpenCongress account for your email address. In
            order for us to send your message you must first agree to our
            terms of service, which will allow us to generate an account for
            you.
          <% elsif !@sender_user.accepted_tos? %>
            Our terms of service have been updated since you last used your
            OpenCongress account. In order for us to send your message you must
            first agree to these updated terms of service.
          <% end %>
        </div>
        <%= f.input :accept_tos, :as => :radio_buttons, :collection => [['Yes', true], ['No', false]] %>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <%= f.button :submit, :value => 'Continue' %>
        </div>
      </div>

      <div class="form-line-wrapper">
        <% if !@sender_user %>
          <a href="<%= url_for(:only_path => false, :controller => :account, :action => :login, :return_to => url_for(:only_path => false, :controller => :email_congress, :action => :confirm, :confirmation_code => @seed.confirmation_code)) %>">I already have an account</a>
        <% end %>
      </div>

      <div class="retention-explanation divider-top">
        <strong>What if I don't want to provide this information?</strong>
        <p>
          You can use the rest of our website without providing this
          information. However, to contact your representatives
          we must collect what is required by congressional contact systems.
          We retain this information to ensure proper delivery.
        </p>
      </div>
    <% end %> <!-- end form_for -->

</div>


