<div class="bootstrap-enabled row email-congress">
  <div class="span6 offset3">
    <div class="user-message">
      <p>Thanks!</p>
      <% if logged_in? %>
        Your letter will be delivered shortly to <%= @seed.allowed_recipients.map(&:title_full_name).to_sentence %>. You can find your letter in <a href="<%= user_actions_path(:login => current_user.login) %>">your profile</a>.

        <% if [@prompt_for_email, @prompt_for_password].any? %>
          <div class="alert-info">
          <%= simple_form_for(current_user, :url => user_profile_path(current_user.login), :wrapper => :vertical_form, :html => { class: 'full-width-form' }) do |f| %>

            <% if @prompt_for_email == true %>
              <p>You sent this email from an address that differs from the one we have on file. Would you like to update your email address?</p>
              <%= f.input_field :email, :input_html => { :value => @seed.sender_email } %>
            <% end %>

            <% if @prompt_for_password == true %>
              <p>
              In order to send your letter, we've created you an OpenCongress account. If
              you would like to log into OpenCongress with your new account, you can
              choose a password now:
              </p>
              <%= f.input :plaintext_password, :as => :plaintext_password %>
              <%= f.input :password_confirmation, :as => :plaintext_password %>
              <%= f.input :password_reset_code, :as => :hidden %>
            <% end %>

            <div class="control-group">
              <div class="controls">
                <% if @prompt_for_email == true %>
                  <%= f.button :submit, :value => 'Update Email' %>
                <% end %>
                <% if @prompt_for_password == true %>
                  <%= f.button :submit, :value => 'Log In' %>
                <% end %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <a class="alt-link" href="<%= user_profile_path(current_user.login) %>">No Thanks</a>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>

      <% else %> <%# The logged out case %>

        <% if false %>
          Don't reveal any information about the letter unless the user is logged
          in. This should only ever happen to returning users who have a complete
          profile and a recognized email address, familiar with the system... and attackers
        <% end %>

        <p>
        Your letter will be delivered shortly to <%= @seed.allowed_recipients.map(&:title_full_name).to_sentence %>.
        </p>
      <% end %>
    </div>
  </div>
</div>
