<form action="/email_subscriptions/create" method="post">
    <ul>
        <li>
            <label for="email" class="control-label required">Email</label>
            <input type="text" name="email" id="email" class="field" value="<%= current_user.email if logged_in? %>" />
        </li>
        <li>
            <label for="name" class="control-label">Name</label>
            <input type="text" name="name" id="name" class="field" value="<%= current_user.full_name if logged_in? %>" />
        </li>
        <li>
            <label for="city" class="control-label">City</label>
            <input type="text" name="city" class="field" id="city" />
        </li>
        <li>
            <label for="state" class="control-label">State</label>
            <select name="state" id="state">
                <% ["AK","AL","AR","AZ","CA","CO","CT","DC","DE","FL","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VA","VT","WA","WI","WV","WY","AS","GU","MP","PR","VI","UM","FM","MH","PW","AA","AE","AP"
                    ].each do |state| %>
                <option value="<%= state %>"<%= " selected" if logged_in? && current_user.state == state %>><%= state %></option>
                <% end %>
            </select>
        </li>
        <li>
            <label for="zip" class="control-label required">Zip/Postal Code</label>
            <input type="text" id="zip" name="zip" class="field" value="<%= current_user.zipcode if logged_in? %>" />
        </li>
        <li class="controls">
            <button class="button huge blue">Stay Updated</button>
        </li>
    </ul>
</form>