<!DOCTYPE html>
<html>
  
  <body>
    <table>
      <tr>
        <td>
          We recieved your message but we need to collect a few more pieces of
          information required by your member's contact system. Please fill out
          the form below:
        </td>
      </tr>
    </table>

    <form method="post" action="<%= url_for(:controller => :email_congress, :action => :complete_profile, :confirmation_code => @seed.confirmation_code) %>">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="confirmation_code" value="<%= @seed.confirmation_code %>">

      <table>
        <tr> <td class="form-line-wrapper">
            <label for="profile_first_name">Title</label>
            <input id="profile_first_name" name="profile[first_name]" type="text" value="<%= @profile.first_name %>">
        </td> </tr>
        <tr> <td class="form-line-wrapper">
            <label for="profile_last_name">Title</label>
            <input id="profile_last_name" name="profile[last_name]" type="text" value="<%= @profile.last_name %>">
        </td> </tr>
        <tr> <td class="form-line-wrapper">
            <label for="profile_street_address">Address</label>
            <input id="profile_street_address" name="profile[street_address]" type="text" value="<%= @profile.street_address %>">
        </td> </tr>
        <tr> <td class="form-line-wrapper">
            <label for="profile_street_address_2">Unit/Suite/etc</label>
            <input id="profile_street_address_2" name="profile[street_address_2]" type="text" value="<%= @profile.street_address_2 %>">
        </td> </tr>
        <tr> <td class="form-line-wrapper">
            <label for="profile_city">City</label>
            <input id="profile_city" name="profile[city]" type="text" value="<%= @profile.city %>">
        </td> </tr>
        <tr> <td class="form-line-wrapper">
            <label for="profile_state">State</label>
            <input id="profile_state" name="profile[state]" type="text" value="<%= @profile.state %>">
        </td> </tr>
        <tr> <td class="form-line-wrapper">
            <label for="profile_zipcode">ZIP Code</label>
            <input id="profile_zipcode" name="profile[zipcode]" type="text" value="<%= @profile.zipcode %>">
            <input id="profile_zip_four" name="profile[zip_four]" type="text" value="<%= @profile.zip_four %>">
        </td> </tr>
        <tr> <td class="form-line-wrapper">
            <label for="profile_mobile_phone">Title</label>
            <input id="profile_mobile_phone" name="profile[mobile_phone]" type="text" value="<%= @profile.mobile_phone %>">
        </td> <tr>

        <% if !@profile.accept_tos %>
          <tr> <td class="form-line-wrapper">
              We couldn't find an OpenCongress account for your email address. In
              order for us to send your message you must first agree to our
              terms of service, which will allow us to generate an account for
              you.
          </td> </tr>
          <tr> <td class="form-line-wrapper">
              <input id="profile_accept_tos" name="profile[accept_tos]" type="radio" value="true">
              <label for="profile_accept_tos">Yes</label>
              <input id="profile_accept_tos" name="profile[accept_tos]" type="radio" value="false">
              <label for="profile_accept_tos">No</label>
          </td> </tr>
        <% end %>

        <tr> <td class="form-line-wrapper">
            <input type="submit" id="profile_submit" class="btn" name="commit" value="Complete">

          <a href="<%= url_for(:only_path => false, :controller => :account, :action => :login, :return_to => url_for(:only_path => false, :controller => :email_congress, :action => :confirm, :confirmation_code => @seed.confirmation_code)) %>">I already have an account</a>
        </td> </tr>

        <tr>
          <td class="form-line-wrapper">
            <a class="retention-explanation">What if I don't want to provide this information?</a>
            <div class="retention-explanation">
              You can use the rest of our website without providing this
              information. However, we must collect this information because
              congressional contact systems require it. We retain this information
              to ensure proper delivery.
            </div>
          </td>
        </tr>

      </table>
      <% if @sender_user %>
      <% end %>
    </form>
  </body>

</html>
