<style>
table { width: 100%; }
button { padding: 6px 16px; float: right; margin-left: 20px; }
</style>
<%= will_paginate(@users) %>
<%= form_tag url_for(:controller => 'admin/spammers', :action => :mypn_bulk_update) do %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Login</th>
      <th>Email</th>
      <th>Name</th>
      <th>Registered</th>
      <th>Last Login</th>
      <th>Action Count</th>
      <th>Notebook</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to(user.login, "/users/#{user.login}/profile/political_notebook") %></td>
        <td><%= user.email %></td>
        <td><%= user.full_name %></td>
        <td><%= user.created_at %></td>
        <td><%= user.last_login %></td>
        <td><%= user.action_count %></td>
        <td><%= PrivacyOption::PRIVACY_OPTIONS.invert[user.privacy_option.my_political_notebook] %></td>
        <td>
          <% if user.political_notebook && user.political_notebook.notebook_items.where(:spam => false).any? %>
            <%= button_to "All Spam", url_for(:controller => 'admin/spammers', :action => :mark_all_mypn_posts_spam, :id => user.login) %>
            <%= button_to "All Ham", url_for(:controller => 'admin/spammers', :action => :mark_all_mypn_posts_ham, :id => user.login) %>
          <% end %>
        </td>
      </tr>
      <% if user.political_notebook && user.political_notebook.notebook_items.where(:spam => false).any? %>
        <tr>
          <td colspan="9">
            <table>
              <thead>
                <tr>
                  <th><input type="checkbox" class="master" id="user_<%= user.id %>" /></th>
                  <th>Item ID</th>
                  <th>Type</th>
                  <th>Title</th>
                  <th>URL</th>
                  <th>Spam?</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% user.political_notebook.notebook_items.all.each do |item| %>
                <tr>
                  <td><input type="checkbox" name="items[]" value="<%= item.id %>" data-user="user_<%= user.id %>"></td>
                  <td><%= item.id %></td>
                  <td><%= item.type %></td>
                  <td><%= item.title %></td>
                  <td><%= link_to(item.url.slice(0..50), item.url) rescue nil %></td>
                  <td><%= item.spam %></td>
                  <td>
                    <%= button_to "Spam", url_for(:controller => 'admin/spammers', :action => :mark_mypn_post_spam, :id => item.id) %>
                    <%= button_to "Ham", url_for(:controller => 'admin/spammers', :action => :mark_mypn_post_ham, :id => item.id) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9">
        <button name="disposition" value="spam">Mark checked as <strong>spam</strong></button>
        <button name="disposition" value="ham">Mark checked as <strong>ham</strong></button>
      </td>
    </tr>
  </tfoot>
</table>
<% end %>
<%= will_paginate(@users) %>

<script>
  (function($){
    $('input.master').click(function(e){
      var user = $(this).attr('id');
      checked = $(this).is(':checked');
      $('input[data-user="' + user + '"]').attr('checked', checked);
    });
  })(jQuery);
</script>