<div id="heading">

<h2>Resources</h2>

</div>


<div class="padding"><strong>Use Cases:</strong> See some <a href="/about/uses">examples</a> of how individuals and organizations are using OpenCongress to build public knowledge and encourage government transparency.</div>


<div class="tool-container">
  <div class="tool-desc">
    <h3>Our Code</h3>
    <p>Developers &amp; programmers: OpenCongress is an open-source community project licensed under the GNU GPL. We're contributors of code and data back to the commons, evangelists for open standards, believers in free culture, and activists for liberation of public data. </p>
    <a href="/about/code">Check it out</a>
  </div>

  <div class="tool-img">
    <%= link_to image_tag('code.jpg'), states_url %>
  </div>
</div>

<div class="tool-container">
  <div class="tool-desc">
    <h3>State and District Portals</h3>
    <p>Get local on OpenCongress and see what users near you care about. Click on any state or Congressional district to see its Members of Congress, the top bills tracked by users in that state, and what users in that state support and oppose.</p>
    <%= link_to 'Try it now', states_url, :class => 'arrow blog_headline' %>
  </div>

  <div class="tool-img">
    <%= link_to image_tag('states.png'), states_url %>
  </div>
</div>

<div class="tool-container">
  <div class="tool-desc">
    <h3>Head-to-Head Vote Comparison</h3>
    <p>Compare the voting records of any two senators or representatives during the current 111th session of Congress. See side-by-side voting records on hot bills, and more.</p>
    <a class="arrow blog_headline" href="/people/compare">Try it now</a>
  </div>

  <div class="tool-img">
     <%= link_to image_tag('tools_compare.png'), '/people/compare' %>
  </div>
</div>
<hr />

<div><h1>OpenCongress Data Partners</h1></div>
<div class="border"></div>

<div class="tool-container">
  <div class="tool-desc">
    <h3>GovTrack</h3>
    <p>Official bill text and member photos on OpenCongress are provided by GovTrack, an independent, non-partisan, non-commercial website founded in September 2004. GovTrack brings together information on the status of federal legislation, voting records, and other congressional data from official sources.
    </p>
    <a target="_blank" class="arrow blog_headline" href="http://govtrack.us/">Visit Govtrack</a>
  </div>

  <div class="tool-img">
     <%= link_to(image_tag('tools_partner-govtrack.png'), 'http://govtrack.us/', :target => '_blank') %>
  </div>
</div>
<hr />
<div class="tool-container">
  <div class="tool-desc">
    <h3>Influence Explorer</h3>
    <p>Campaign contribution information on OpenCongress is provided by Influence Explorer, a product of the Sunlight Foundation.
    </p>
    <a target="_blank" class="arrow blog_headline" href="http://influenceexplorer.com/">Visit Influence Explorer</a>
  </div>

  <div class="tool-img">
  <%= link_to(image_tag('tools_partner-ie.png'), 'http://influenceexplorer.com/', :target => '_blank') %>
  </div>
</div>
<hr />

