- trigger_js ||= false

.contribution_data
  %p.behave
    The table below shows how much money each of your congress members raised from various industries. Click one of the figures to include it in your letter.

  %table
    %thead
    %tbody

:javascript
  var member_osids = #{@member_osids.to_json};
  var sunlightlabs_key = #{ApiKeys.sunlightlabs_key.to_json};
  var current_election_cycle = #{current_election_cycle.to_json};

= javascript_include_tag 'iewidget'
= javascript_include_tag 'ieletterbuilder'
