        <div id='<%= vote_name_suitable_for_id(vote_name(vote_type)) %>_<%= party %>' class='jqmWindow scrolling'>
          <div class='ie'><a href='#' class='jqmClose'>Close</a></div><h4><%= party %> <%= person_type %>s Voting '<%= vote_name(vote_type) %>'</h4>
          <% @roll_call.roll_call_votes.each do |vote| %>
            <% if vote.vote == vote_type and (party == 'All' or vote.person.party == party or (party == 'Other' and not ['Democrat', 'Republican'].include?(vote.person.party))) %>
              <%= link_to_person vote.person %><br />
            <% end %>
          <% end %>
        </div>

        <%# TODO: The title construction here is pretty ugly. %>

