<div class="roll_call_details_info">

  <div>
    <div>
      <span class="date roll"><%= @roll_call.date.strftime("%B %d, %Y") %></span>  

      Roll call number <strong><%= @roll_call.number %></strong> in the <%= @roll_call.chamber %>
    </div>
    <div>
      <strong>Question</strong>
      <em class="fontweightnormal"><%= @roll_call.question %></em>
    </div>

      <% if @roll_call.bill %>
        <div>
          <strong>Bill:</strong>
          <a href="<%= bill_path(@roll_call.bill.ident) %>">
            <%= @roll_call.bill.best_title(:prefixed) %>
          </a>

          <% if @roll_call.amendment %>
            <div>
              <strong>Amendment:</strong>
              <%= @roll_call.amendment.display_number %>
            </div>

            <div>
              <strong>Amendment purpose:</strong>
              <%= @roll_call.amendment.purpose %>
            </div>
          <% end %> 
        </div>
      <% end %>


    <div>
    </div>
  </div>

  <div class="right">
    <% if count_for_affirmative_votes + count_for_negative_votes == 0 %>
      <%# If there are neither ayes nor nays then this is probably speaker
      election vote or an impeachment vote %>
      <div>
        <em class="abs roll">Vote</em>
        <span class="vote_count">Total</span>
        <span class="vote_count">Democrat</span>
        <span class="vote_count">Republican</span>
      </div>

      <% @vote_counts.sort_by(&:second).reverse.each do |vote, cnt| %>
        <div>
          <em class="<%= singular_vote_css_class(vote) %> roll"><%= vote_name(vote) %> </em>
          <span class="vote_count"><%= cnt.to_i %></span>
          <span class="fontweightnormal">
            <span class="vote_count party_count"><%= count_for_vote_and_party(vote, 'Democrat') %></span> 
            <span class="vote_count party_count"><%= count_for_vote_and_party(vote, 'Republican') %></span> 
          </span>
        </div>
      <% end %>
    <% else %>
      <div>
        <span class="no_icon"></span>
        <em class="abs roll">Vote</em>
        <span class="vote_count">Total</span>
        <span class="vote_count">Democrat</span>
        <span class="vote_count">Republican</span>
      </div>
      <div>
        <span class="ayes"></span>
        <em class="aye roll">Ayes</em>
        <span class="vote_count"><%= count_for_affirmative_votes %></span>
        <span class="fontweightnormal">
          <span class="vote_count party_count"><%= count_for_affirmative_votes_by_party('Democrat') %></span> 
          <span class="vote_count party_count"><%= count_for_affirmative_votes_by_party('Republican') %></span> 
        </span>
      </div>

      <div>
        <span class="nays"></span>
        <em class="nay roll">Nays</em>
        <span class="vote_count"><%= count_for_negative_votes %></span>
        <span class="fontweightnormal">
          <span class="vote_count party_count"><%= count_for_negative_votes_by_party('Democrat') %></span> 
          <span class="vote_count party_count"><%= count_for_negative_votes_by_party('Republican') %></span> 
        </span>
      </div>

      <div>
        <span class="abs"></span>
        <em class="abs roll">Present</em>
        <span class="vote_count"><%= count_for_present_votes %></span>
        <span class="fontweightnormal">
          <span class="vote_count party_count"><%= count_for_present_votes_by_party('Democrat') %></span> 
          <span class="vote_count party_count"><%= count_for_present_votes_by_party('Republican') %></span> 
        </span>
      </div>

      <div>
        <span class="abs"></span>
        <em class="abs roll">Not Voting</em>
        <span class="vote_count"><%= count_for_non_votes %></span>
        <span class="fontweightnormal">
          <span class="vote_count party_count"><%= count_for_non_votes_by_party('Democrat') %></span> 
          <span class="vote_count party_count"><%= count_for_non_votes_by_party('Republican') %></span> 
        </span>
      </div>


      <% if @roll_call.required %>
        <div><em><%= humane_fraction(@roll_call.required).capitalize %> 'Ayes' required for passage.</em></div>
      <% end %>

      <div><em>Result:</em> <span class="fontweightnormal"><%= @roll_call.result %></span> </div>

    <% end %>
  </div>
</div>

