<%= render :partial => 'roll_call_title' %>

<%= render :partial => 'roll_call/make_hot', :object => @roll_call %>

<% if @roll_call.bill %>
  <p><a href="/bill/<%= @roll_call.bill.ident %>/show" class="arrow-left"><b>Back to Main Bill Page</b></a></p>
<% end %>


<div id="roll_call_details">
  
  <% if @state_name %>
  <p><strong><%= link_to '&larr; Full roll call', roll_call_path %></strong></p>
  <br />
  <h3 class="darkline">Votes by <%= person_type %> in <%= @state_name %></h3>
  <%= render :partial => 'person_votes', :locals => { :votes => @roll_call.roll_call_votes.for_state(@state_abbrev) } %>

  <% else %>
  <%= render :partial => 'roll_call_details_header' %>
  <div class="cols-box clearfix">
    <div class="col1">
       <h3 class="darkline">Votes by <%= person_type %></h3>
       <%= render :partial => 'person_votes', :locals => { :votes => @roll_call.roll_call_votes } %>
  <% end %>
  
   <% unless @state_name %>

   <p>** Because of incomplete data, party breakdown visualizations may be inaccurate by one or two votes.</p>

    </div>

    <script type="text/javascript">
      $j().ready(function(){
        $j('.jqmWindow').jqm();
      });
    </script>

    <div class="col2">
      <h3 class="darkline">Vote Result</h3>
      <% @vote_counts.keys.each do |vote_type| %>
        <%= render :partial => 'jqm_window', :locals => { :party => 'All', :vote_type => vote_type } %>
      <% end %>
      <div id='roll_call_All_chart'><%= @master_chart.html_safe %></div>

      <h3 class="darkline">Votes by Party</h3>

      <% @vote_counts.to_a.sort_by(&:second).reverse.each do |vote_type, cnt| %>
        <% if cnt > 10 %>
          <%= render :partial => 'jqm_window', :locals => { :party => 'Democrat', :vote_type => vote_type } %>
          <%= render :partial => 'jqm_window', :locals => { :party => 'Republican', :vote_type => vote_type } %>
          <%= render :partial => 'jqm_window', :locals => { :party => 'Other', :vote_type => vote_type } %>
          <div id='roll_call_<%= vote_type %>_chart'><%= chart_html_for_vote_type(vote_type).html_safe %></div>
        <% end %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>
  
