<%= simple_form_for :user, :url => signup_url do |f| %>
<div title="Account signup" id="signupform" class="form">

   <%= error_messages_for :user %>

    <label for="user_login">Choose a Username</label>
      <%= f.text_field :login, :id => 'user_login', :class => 'field', :size => 30 %>
      <p class="zip_tell">(no spaces or special characters)</p>

      <label for="user_password">Choose a Password</label>
    <%= f.password_field :password, :id => 'user_password', :class => 'field', :size => 30 %>

    <label for="user_password_confirmation">Confirm Password</label>
      <%= f.password_field :password_confirmation, :class => 'field', :size => 30 %>

    <label for="user_email">Email</label>
      <%= f.text_field :email, :class => 'field', :size => 30 %>

      <label for="user_zipcode">Zip Code</label>
      <%= f.text_field :zipcode, :class => 'field', :size => 5, :maxlength => 5 %>
      <p class="zip_tell">(required, to find your Members of Congress)</p>

  <!-- Google recaptcha v2 -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <div class="g-recaptcha" data-sitekey="6LdkRwITAAAAAImWo3-1bwFZwzdXUI2erV9w5dea"></div>
  <noscript>
    <div style="width: 302px; height: 352px;">
      <div style="width: 302px; height: 352px; position: relative;">
        <div style="width: 302px; height: 352px; position: absolute;">
          <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LdkRwITAAAAAImWo3-1bwFZwzdXUI2erV9w5dea"
                  frameborder="0" scrolling="no"
                  style="width: 302px; height:352px; border-style: none;">
          </iframe>
        </div>
        <div style="width: 250px; height: 80px; position: absolute; border-style: none;
                bottom: 21px; left: 25px; margin: 0px; padding: 0px; right: 25px;">
          <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 80px; border: 1px solid #c1c1c1; margin: 0px; padding: 0px; resize: none;" value=""></textarea>
        </div>
      </div>
    </div>
  </noscript>

      <div class="clear margintop floatleft behave"><br/>
      <%= f.simple_fields_for :user_options do |o| %>
        <%= f.check_box :opencongress_mail, :style => "margin-top:-6px;", :class => "tick" %>
        <label class="send" for="user_options_attributes_opencongress_mail">Send me major updates about OpenCongress <em>(optional)</em></label>
      </div>

        <div class="clear margintop floatleft behave"><br/>
        <%= f.check_box :partner_mail, :class => "tick" %>
        <label class="send" for="user_options_attributes_partner_mail">Join the Sunlight Foundation email list <em>(optional)</em></label>
      <% end %>
    </div>

  <div class="clear margintop floatleft behave"><%= f.check_box :accept_tos, :class => "tick" %>
    <label class="toss" for "user_accept_tos" %>I agree to the <a href="/about/terms_of_service">Terms of Service</a> and <a href="/about/privacy_policy">Privacy Policy.</a></label>
  </div>

  <input type="image" value="Register" class="floatright margintop behave clear" src="<%= image_path 'register.png' %>" />

  <div class="clear"><em>We will not share your email address with anyone for any reason, unless you ask us to.</em></div>

</div>
<% end %>
