<%= content_for :stylesheets_extra do %>
<style>
    .bootstrap-enabled p,
    .bootstrap-enabled td {
        font-size: 15px;
        line-height: 1.4;
    }
    .bootstrap-enabled .alert,
    .bootstrap-enabled .warning {
        color: #550;
    }
    .bootstrap-enabled tr.warning td {
        border-top: none;
    }
    .bootstrap-enabled label,
    .bootstrap-enabled input[type="checkbox"] {
        display: inline;
        vertical-align: middle;
    }
    .bootstrap-enabled input[type="checkbox"] {
        margin-right: 0.5em;
    }
</style>
<% end %>
<%= content_for :javascripts_extra do %>
<script>
    (function($){
        $(function(){
            $('a.toggle-target').click(function(e){
                e.preventDefault();
                $($(this).attr('href')).toggleClass('hide');
            });
        });
    })(jQuery);
</script>
<% end %>

<div class="tos bootstrap-enabled">
    <h2>Hi! Our default privacy settings are changing.</h2>
    <p>
        We're busy building OpenCongress to be a better and more useful resource
        for getting in touch with your representation in Congress, and we're making
        some changes to the information you're able to provide to us, as well as the
        default privacy settings for some of that information.
    </p>
    <p class="alert alert-block">
        <strong>This is important: If you already have an account, we will not change
        your existing privacy settings for available options on OpenCongress. However,
        your home state and district are no longer able to be made private.</strong>
    </p>
    <p>
        Be aware that new users of the site will be given a different set of
        default privacy settings, and we would encourage you to have a look at your own
        <% if logged_in? %>
        <%= link_to "profile", edit_profile_path(:login => current_user.login) %>,
        <% else %>
            profile,
        <% end %> too.
    </p>
    <p>
        Please update your information to a degree of privacy that works for you but will also
        allow you to interact with others on the site. We want to make it easier to find
        other members of the OpenCongress community who are affected by the same policies and
        laws that you are, and hope that you do, too!
    </p>
    <p><strong>Please read to the bottom of this page, then indicate your acceptance of our terms &amp; policies below.</strong></p>

    <hr>

    <h3>New information we will store on your behalf:</h3>
    <p>
        It's redundant that you should have to re-enter your
        address and phone number each time you contact your reps, so
        we will now store this information the first
        time you provide it to us, and pre-fill it in the future.
    </p>
    <p>
        <strong>This information is private, and there is no setting
        that will allow you to share it with anyone.<br/><br/>
        Likewise, we will not share your address or phone number with third parties (other
        than your representatives via their contact form) for any reason.</strong>
    </p>
    <p>
        It remains
        the case, however, that your representatives may include your
        address in replies to messages which you've chosen to make public on our site. If you wish
        to keep this information private, you can always change the privacy
        setting of your letter after a reply is received.
    </p>
    <h3>Privacy defaults:</h3>
    <p>With the exception of your congressional district, privacy changes only affect the defaults for new users. <a href="#privacy_settings" class="toggle-target">See the new defaults</a>.</p>
    <table class="table table-striped hide" id="privacy_settings">
    <thead>
        <tr>
            <th>Setting</th>
            <th>Default</th>
            <th>Changed?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Your real name</td>
            <td>Friends only</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Your email address</td>
            <td>Only you</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Your zipcode</td>
            <td>Friends only</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Your general location (city, state)</td>
            <td>Public</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Your congressional district*</td>
            <td>Public</td>
            <td>Yes</td>
        </tr>
        <tr class="warning">
            <td colspan="3">
                <em>
                    * You no longer have the option to make your state and district private. This
                    change applies to existing users as well, effective immediately.
                </em>
            </td>
        </tr>
        <tr>
            <td>Your profile (bio and website)</td>
            <td>Public</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Your actions on the site</td>
            <td>Public</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Your tracked items</td>
            <td>Public</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Your friends</td>
            <td>Public</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Your political notebook</td>
            <td>Public</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Your watchdog page</td>
            <td>Public</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Your group memberships*</td>
            <td>Public</td>
            <td>Sort of</td>
        </tr>
        <tr class="warning">
            <td colspan="3">
                <em>
                    * Group memberships used to be public, except for
                    state and district groups, which were dependent on your
                    district privacy settings.
                </em>
            </td>
        </tr>
    </tbody>
    </table>
    <hr/>
    <h3>Terms of Service &amp; Privacy Policy</h3>
    <p>You should also take a moment to familiarize yourself with <a href="/terms">the terms governing your usage of our site</a>.</p>
    <p>Once you're done, certify your acceptance of these changes and our terms of service &amp; privacy policy by checking the box below:</p>
    <% form_tag '/account/accept_tos' do |f| %>
    <div title="Accept Terms of Service" class="form">
      <%= error_messages_for 'user' %>
      <br />
      <%= check_box_tag :accept_tos %>
      <%= label_tag :accept_tos, %Q[I agree to the <a href="/terms">Terms of Service and Privacy Policy</a>, and understand how my information will be shared on OpenCongress.].html_safe %>
      <br /><br />
      <input type="image" src="<%= image_path 'agree.png' %>" value="submit" />
    </div>
    <% end %>
</div>