<div id="heading">
  <h2>How to Use OpenCongress</h2>
</div>
<div class="padding">
  <div class="pretty-text">

    <p>
    To take advantage of all the features of OpenCongress, please
    <a href="<%= url_for(:controller => :account, :action => :login) %>">register for a free account</a>.
    This allows you to track the bills that interest you,
    contact your elected officials, comment and share your support or
    opposition on legislation and much more.
    </p>

    <p>
    Once logged in, you can update your profile, add a photo and change your
    privacy settings to determine what other OpenCongress users and group
    members see on the site.
    </p>

    <h3>
      Find your elected officials
    </h3>

    <p>
    To easily connect with your elected officials simply click on
    <a href="<%= url_for(:controller => :people, :action => :senators) %>">Senators</a>
    or
    <a href="<%= url_for(:controller => :people, :action => :representatives) %>">Representatives</a>
    and then enter your zip code or find them using the map.
    </p>

    <h3>
      Find a bill
    </h3>

    <p>
    The fastest way to find a piece of legislation is to enter the bill name,
    number or nickname into the search bar in the upper right corner of
    OpenCongress. To browse recently introduced or bills that are popular on
    OpenCongress just click the 
    <a href="<%= url_for(:controller => :bill, :action => :all) %>">Bills button</a>
    on the left side of the top
    navigation bar on the site. You can also find bills from previous sessions
    of Congress (since the 109th) by doing an advanced search by tapping on the
    wrench on the left side of the search bar or
    <a href="<%= url_for(:controller => :search, :action => :index) %>">going here</a>.
    </p>

    <h3>
      Contact your elected officials
    </h3>

    <p>
    Every member of Congress has a profile page on OpenCongress that lists the
    phone number and contact form for his or her office. To share your thoughts
    with your elected officials on a specific piece of legislation, just
    navigate to a bill and then select "Send Your Representative a Letter" on
    the right sidebar.
    </p>

    <h3>
      Contact Us
    </h3>

    <p>
    If you find a issue with the site or just want to share your feedback
    (positive or negative) please send us an email at
    <script type="text/javascript">m(<%= raw(Settings.contact_us_email.split(/[@.]/).push("1").map(&:to_json).join(',')) %>);</script>
    . (Please note, we are not affiliated with any member of Congress and cannot respond to comments on legislation.) Thanks for using OpenCongress!
    </p>
  </div>
</div>
