<div id="heading">
  <h2>About OpenCongress</h2>

  <p class="about-oc">
  OpenCongress makes it easy to follow legislation in Congress, from bill
  introduction to floor vote, as well as profiles for senators and
  representatives. You can use the site to learn more about issues you care
  about and connect with others who share similar views.
  </p>
</div>

<div class="padding">
  <div class="pretty-text">

    <div class="col1">
      <p>
      Using the site is simple: enter a lawmaker’s name, issue topic
      or bill number to search OpenCongress. Get information on who
      represents you, find relevant legislation and learn how to take
      action. Check out House and Senate profile pages to see what bills
      lawmakers sponsor, voting records and how to contact them. You can even
      review side-by-side comparisons on how members vote in the current
      Congress. OpenCongress also provides quick links for bills based on
      issue, popularity and status, and you can rate your support or opposition
      to any piece of legislation.
      </p>

      <p>
      Becoming a registered user of OpenCongress brings more functionality to
      site. You can track bills and issues within the site and connect with
      other users on OpenCongress Groups.
      <a href="<%= url_for(:controller => :account, :action => :login) %>">Register or login here.</a>
      </p>

      <p>
      OpenCongress is a project of the Sunlight Foundation. Thank you to [any
      funders here] for their generous support. In 2013, Sunlight became sole
      operator of the site, taking over from the Participatory Politics
      Foundation.
      </p>

      <h3>Data</h3>

      <p>
      Bill, legislator, committee, vote and issue data are collected from
      official sources, including the Library of Congress, GovTrack,
      Congressional Research Service and the Sunlight Foundation.
      </p>

      <p>
      The site is updated daily and searchable from the start of the 109th
      Congress in January 2005 through the current date.
      </p>

      <h3>API</h3>

      <p>
      OpenCongress is open source. Developers interested in using the data on
      OpenCongress should check out the
      <a href="http://sunlightfoundation.com/api/">Sunlight Foundation’s
        Congress API.</a> This is a continuously updated JSON API for the
      people and work of Congress. It provides current information on
      legislators, districts, committees, bills, votes, as well as real-time
      notice of hearings, floor activity and upcoming bills.
      </p>

      <p>
      Please note, the previously available OpenCongress API developed by PPF
      is deprecated.
      </p>

      <p>
      If you're using Sunlight data and want to tell us about it, please
      contact us: <script type="text/javascript">m(<%= raw(Settings.contact_us_email.split(/[@.]/).push("1").map(&:to_json).join(',')) %>);</script>.
      </p>

    </div><!-- left col -->

    <div class="col2">

      <h2>Using OpenCongress</h2>
      <ul class="pointy">
        <li><%= link_to 'How to use OpenCongress', '/howtouse' %></li>
        <li><%= link_to 'OpenCongress for Developers', '/about/code' %></li>
        <li><%= link_to 'Terms of Service', '/about/terms_of_service' %></li>
        <li><%= link_to 'Privacy Policy', '/about/privacy_policy' %></li>
        <li><%= link_to 'Copyright Policy', '/about/copyright_policy' %></li>
      </ul>
      <br />
      <h2>More about us</h2>
      <ul class="pointy">
        <li><%= link_to 'About the Sunlight Foundation', 'http://sunlightfoundation.com/about' %></li>
      </ul>
      <br />
      <br />
      <h2>Contacting Us</h2>
      <p>
      To send us general site feedback, ask a question, or report a problem, e-mail
      <script type="text/javascript">m(<%= raw(Settings.contact_us_email.split(/[@\.]/).push("1").map(&:to_json).join(',')) %>);</script>.
      We get a fair amount of email, so plese be patient -- our support team
      can usually respond in under 24 hours.
      </p>
      <%= render :partial => 'licensing_terms' %>

    </div>
  </div>
</div>
