<div id="heading">
	<h2>OpenCongress RSS Feeds</h2>
  <p class="about-rss">
  OpenCongress offers a variety of RSS feeds, outlined below, that help keep
  you in touch with the latest developments in Congress.
  </p>
</div>

<div class="padding" id="about-rss">

  <p>
  RSS feeds are available for:
  </p>

  <ul>
    <li>Any <%= link_to("bill", :controller => :bill, :action => :all) %> in Congress (109th - current session)</li>
    <li>Any <%= link_to("issue area", :controller => :issue, :action => :index) %> (more than 4,000 topics tracked)</li>
    <li>Any <%= link_to("congressional committee", :controller => :committee, :action => :index) %> (including subcommittees)</li>
    <li>Any <%= link_to("senator", :controller => :people, :action => :senators) %> or <%= link_to("representative", :controller => :people, :action => :representatives) %>.</li>
    <li>Any OpenCongress <%= link_to("Group", :controller => :groups, :action => :index) %></li>
    <li>Most-viewed bills (by site users)</li>
    <li><%= link_to("Major legislation", :controller => :bill, :action => :major) %> (such as appropriation bills)</li>
  </ul>

  <br>
  <p>You can also create personalized RSS feeds within your OpenCongress account for actions taken and issues tracked.</li>
</div>




