<div id="heading">

  <h2><%= @committee.name %><% unless @committee.subcommittee_name.nil? %><%= ": #{@committee.subcommittee_name}" %><% end %></h2>


  <h3>Members</h3>

  <% if @committee.homepage -%>
    <div class="homepage">Homepage: <a href="<%= @committee.homepage %>"><%= @committee.homepage %></a></div>
  <% end -%>


  <% if @committee.members.length > 0 %>
    <div class="com_carousel">

      <a class="prev" onclick="new Effect.ScrollToEnd('kthxbye2');; return false;" href="#"><span>Previous</span></a>
      <a class="next" onclick="new Effect.ScrollToBeg('kthxbye2');; return false;" href="#"/><span>Next</span></a>

      <div class="carousel_wrapper">
        <div class="carousel_inner">
          <div id="kthxbye2" style="width:<%= 118 * @committee.members.length %>px;">
            <% if @chair %>
              <%= render :partial => "member", :object => @chair,
                         :locals => { :title => "Chair" } %>
            <% end %>
            <% if @vice_chair %>
              <%= render :partial => "member", :object => @vice_chair,
                         :locals => { :title => "Vice Chair" } %>
            <% end %>
            <% if @ranking_member %>
              <%= render :partial => "member", :object => @ranking_member,
                         :locals => { :title => "Ranking Member" } %>
            <% end %>

            <%= render :partial => "member", :collection => @members, :locals => { :title => nil } %>
          </div>
        </div>
        <br style="clear:both;" />

      </div>

    </div>
  <% else %>
    <div class="padding" style="clear: both;">Sorry, OpenCongress is unable to display membership data for this committee.</div>
  <% end %>
</div>


<div class="columns">

  <div class="col1">

    <% if @committee.subcommittee_name.nil? %>
      <%= render(:partial => 'subcommittee_links', :locals => {:subcommittee_links => @committee.subcommittees, :main => @main}) unless @committee.subcommittees.empty?%>
    <% end %>

    <div class="committee_reports">
      <%= render :partial => 'reports' %>
    </div>

    <%= render :partial => 'calendar_schedule', :locals => {:committee => @committee} %>

  </div>

  <div class="col2">
    <% if @bills_sponsored.any? %>
      <h3>Bills</h3>
    <% end %>  
    <%= render :partial => 'bill/related_bills_list', :locals => {:related_bills_list => @bills_sponsored} %>
  </div>


</div>