<div id="heading">
  <h2>Edit Your Profile</h2>
</div>

<div class="container_12 clearfix">
  <div class="clear space">&nbsp;</div>
  <div class="grid_4">
    <div id="picture_detail">
      <%= profile_image_for(@user) %>
    </div>
    <div id="congressional_district" class="side_settings">
      <p><strong>Congressional District:</strong> <span class="district"><%= @user.my_district.first %></span></p>
    </div>
    <div id="openid" class="side_settings">
      <% form_tag(url_for(:controller => :account, :action => :add_openid)) do %>
        <%= label_tag "identity_url", "OpenID URL:", :style => "font-weight: bold;" %><br/>
        <%= text_field_tag "identity_url", current_user.identity_url, :size => 20, :class => "field" %>
        <%= submit_tag "Set", :class => "button gray small" %>
      <% end %>
    </div>
    <div id="connect_facebook" class="side_settings">
      <p><strong>Facebook</strong></p>
      <div id="connect_facebook_button">
        <%= profile_facebook_for(@user) %>
      </div>
    </div>
  </div>


  <div class="grid_8">
    <div id="sort_nav">
      <ul class="tabs sorts">
        <li class="active"><a href="#general_information" class="button silver small fullyrounded push-right">General Information</a></li>
        <li><a href="#site_preferences" class="button silver small fullyrounded push-right">Site Preferences</a></li>
        <li><a href="#privacy_settings" class="button silver small fullyrounded push-right">Privacy Settings</a></li>
        <li><a href="#change_password" class="button silver small fullyrounded push-right">Change Password</a></li>
      </ul>
    </div>

    <%= simple_form_for @user, :url => update_profile_path(@user.login), :action => :put,
                               :defaults => { :input_html => { :class => 'field' } } do |f| %>
      <%= field_set_tag "General Information", {:id => "general_information", :class => "tab-pane active"} do %>
        <%= f.input :email, :required => true %>
        <%= f.simple_fields_for :user_profile, @user.user_profile do |p| %>
          <%= p.input :full_name %>
          <%= p.input :website %>
          <%= p.input :mobile_phone, :label => "Telephone Number (SMS Capable)", :maxlength => 20 %>
          <%= p.input :about, :as => :text, :input_html => { :rows => 6 } %>
          <%= p.input :street_address %>
          <%= p.input :street_address_2 %>
          <%= p.input :city %>
          <%= p.input :state, :as => :select, :collection => State::ABBREVIATIONS.values %>
          <%= p.input :zipcode, :required => true, :maxlength => 5 %>
          <%= p.input :zip_four, :label => "Zip+4", :maxlength => 4 %>
        <% end %>
      <% end %>
      <script type="text/javascript">
          document.getElementById('user_zipcode').addEventListener('change', function(event){
              document.getElementById('user_zip_four').removeAttribute('value');
          });
      </script>

      <%= field_set_tag "Site Preferences", {:id => "site_preferences", :class => "tab-pane"} do %>
        <%= f.simple_fields_for :user_options, @user.user_options do |o| %>
          <%= o.input :comment_threshold, :as => :select, :collection => 1..10,
                    :label => "Hide comments with ratings below", :input_html => { :class => "select" } %>
          <%#= o.input :sms_notifications, :as => :radio_buttons, :label => "Receive notifications about your tracked items via SMS?" %>
          <%#= o.input :email_notifications, :as => :radio_buttons, :label => "Receive notifications about your tracked items via Email?" %>
          <%= o.input :opencongress_mail, :as => :radio_buttons, :label => "Receive announcements about OpenCongress via email?" %>
          <%= o.input :partner_mail, :as => :radio_buttons, :label => "Join the Sunlight Foundation email list?" %>
        <% end %>
      <% end %>

      <%= field_set_tag "Privacy Settings", {:id => "privacy_settings", :class => "tab-pane"} do %>
        <%= f.simple_fields_for :user_privacy_options, @user.user_privacy_options,
                                :defaults => {:as => :select,
                                              :collection => UserPrivacyOptions::PRIVACY_OPTIONS,
                                              :prompt => nil,
                                              :input_html => { :class => 'select' } } do |p| %>
          <%= p.input :name, :label => "My name" %>
          <%= p.input :profile, :label => "My profile" %>
          <%= p.input :email, :label => "My email" %>
          <%= p.input :zipcode, :label => "My zipcode" %>
          <%= p.input :location, :label => "My general location" %>
          <%= p.input :actions, :label => "My actions on the site" %>
          <%= p.input :bookmarks, :label => "My tracked items" %>
          <%= p.input :friends, :label => "My friends" %>
          <%= p.input :groups, :label => "My group memberships" %>
          <%= p.input :political_notebook, :label => "My political notebook" %>
          <%= p.input :watchdog, :label => "My watchdog page" %>
        <% end %>
      <% end %>

      <%= field_set_tag "Change Password", {:id => "change_password", :class => "tab-pane"} do %>
        <%= f.input :current_password, :as => :plaintext_password %>
        <%= f.input :plaintext_password, :as => :plaintext_password %>
        <%= f.input :password_confirmation, :as => :plaintext_password %>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit, :value => "Save Profile", :class => "button blue huge" %>
        or <%= link_to "Cancel", user_profile_path(@user.login) %>
      </div>
    <% end %>
  </div>

</div>
