<div id="heading">
  <h2><%= @user.login.possessive %> Tracked Items <%= link_to("<span class='hide-text'>RSS</span>".html_safe, @atom["link"], :class => "icon rss") if (@atom["link"] && @user == current_user) %></h2>
</div>
<div class="container_12">
<div class="space">&nbsp;</div>
<div class="grid_12">

<div id="the-items">
  <div style="padding-bottom:30px;">
    <% if @user == current_user %>
      <p>Use this page to manage what you track on OpenCongress. To add more items, simply click the button, "Track with MyOC" on the right-hand sidebar of any bill, issue or member of Congress' page. You can also subscribe to a <%= link_to("custom RSS feed", @atom["link"]) if @atom["link"] %> of all your tracked items.</p>
    <% else %>
      <p>This is the list of Tracked Items <%= @user.login %> has chosen to make visible to you. To track your own items, simply click the button, "Track with MyOC" on the right-hand sidebar of any bill, issue, or member of Congress' page.</p>
    <% end %>
    <br />
    <!-- <p>Just getting started with MyOC? Our special pages of <a href="/bill/major">Major Bills by Issue Area</a> or <a href="/bill/hot">Hot Bills on OC</a> offer easy ways to find bills and add them to your Tracked Items. For next steps, including ways you can use the social networking on "My OpenCongress" to organize your community, see our <a href="/profile/howtouse">how-to guide</a>.</p> -->
  </div>

  <div class="what-line"></div>
  <br />
  <div style="float:right;">
  <% if @user == current_user %>
    <%= form_for :user_privacy_options, @user.user_privacy_options, :url => {:controller => "/profile", :action => 'update_privacy' } do |f| %>
      <%= f.select :bookmarks, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
      <span style = "margin-left:10px;"><%= image_tag("private.png", :alt => "private", :title => "Private", :id => 'Privacy') %></span>
    <% end %>
  <% end %>
  </div>

  <% if @user.bookmarks.empty? %>
    <h3><%= @user == current_user ? "You aren't" : "#{@user.login} isn't" %> tracking any items.</h3>
  <% end %>


  <% unless @user.bill_bookmarks.length == 0 %>
      <h3><%= link_to "Tracking #{pluralize(@user.bill_bookmarks.length, 'Bill')}", :controller => 'profile', :action => 'bills' %></h3>
    <ul class="links_detailed">
      <% @bill_items_tracked[0...10].each do |bill| %>
        <li class="<%= cycle('odd', 'even')%>"><%= render :partial => "bill_main_detail", :locals => {:bill => bill} %></li>
      <% end %>
      <% if @bill_items_tracked.length > 10 %>
        <li class="even"><%= link_to "#{pluralize(@user.bill_bookmarks.length - 10, 'more bill')}", {:controller => 'profile', :action => 'bills'}, :class => "arrow" %></li>
      <% end %>
    </ul>
  <% end %>
   <% unless @sen_items_tracked.length == 0 %>
    <h3><%= link_to "Tracking #{pluralize(@sen_items_tracked.length, 'Senator')}", :controller => 'profile', :action => 'person', :person_type => "senators" %></h3>
       <%= render :partial => "person_main_detail", :locals => {:people => @sen_items_tracked[0...10], :show_updates => true },
                              :person_type => "Senator" %>
      <div class="after"></div>
   <% end %>
  <% unless @rep_items_tracked.length == 0 %>
    <h3><%= link_to "Tracking #{pluralize(@rep_items_tracked.length, 'Representative')}", :controller => 'profile', :action => 'person', :person_type => "representatives" %></h3>
     <%= render :partial => "person_main_detail", :locals => {:people => @rep_items_tracked[0...10], :show_updates => true},
                               :person_type => "Senator" %>
    <div class="after"></div>
  <% end %>

  <% unless @user.bookmarked_committees.length == 0 %>
    <h3><%= link_to "Tracking #{pluralize(@user.bookmarked_committees.length, 'Committee')}", :controller => 'profile', :action => 'committees' %></h3>
    <ul class="links_detailed">
            <% @user.bookmarked_committees[0...10].each do |committee| %>
            <li class="tracking" id="issues_tracked">
                    <h5><%= link_to(committee.name, :controller => 'committee', :action => 'show', :id => committee.to_param) %></h5>
                            <ul class="updates clearfix">
                                    <% unless committee.new_bills_since(@user).length == 0 %>
                                            <li><%= toggler_with_span_class("new_committee_bills_#{committee.id}", "<span>New Bills (#{committee.new_bills_since(@user).length})</span>", '<span>Hide New Bills</span>', 'med_button', 'med_button on') %></li>
                                    <% end %>
                                    <% unless committee.new_reports_since(@user).length == 0 %>
                                            <li><%= toggler_with_span_class("new_reports_#{committee.id}", "<span>New Reports (#{committee.new_reports_since(@user).length})</span>", '<span>Hide New Reports</span>', 'med_button', 'med_button on') %></li>
                                    <% end %>
                                    <% unless committee.comments_since_last_login(@user) == 0 %>
                                            <li><%= toggler_with_span_class("new_comments_#{committee.id}", "<span>New Comments (#{committee.comments_since(@user)})</span>", '<span>Hide New Comments</span>', 'med_button', 'med_button on') %></li>
                                    <% end %>
                            </ul>


                            <div class="update_text" id="new_committee_bills_<%= committee.id %>" style="display:none;">
                                    <ul>
                                    <% committee.new_bills_since(@user).each do |bill| %>
                                             <li><%= link_to(bill.typenumber, bill_path(bill)) %> - <%= bill.title_common %>
                                    <% end %>
                                    </ul>
                            </div>
                            <div class="update_text" id="new_reports_<%= committee.id %>" style="display:none;">
                                    <ul>
                                    <% committee.new_reports_since(@user).each do |cr| %>
                                             <li><%= link_to(cr.name, {:controller => 'committee', :action => 'report', :id => cr.to_param}, :popup => true) %> - <%= cr.title.titleize %>
                                    <% end %>
                                    </ul>
                            </div>
                            <div class="update_text" id="new_comments_<%= committee.id %>" style="display:none;">
                                      <%= render :partial => 'shared/comments_embedded', :locals => {:object => committee }%>
                            </div>
                    </li>
            <% end %>                <% if @user.bookmarked_committees.length > 10 %>
            <li class="even"><%= link_to "#{pluralize(@user.bookmarked_committees.length - 10, 'more committee')}", {:controller => 'profile', :action => 'committees'}, :class => "arrow" %></li>
            <% end %>
          </ul>
       <div class="after"></div>
  <% end %>
  <% unless @user.bookmarked_issues.length == 0 %>
  <h3><%= link_to "Tracking #{pluralize(@user.bookmarked_issues.length, 'Issue')}", :controller => 'profile', :action => 'issues' %></h3>
  <ul class="links_detailed">
    <% @user.bookmarked_issues[0...10].each do |subject| %>
    <li id="issues_tracked" class="tracking">
      <h5><%= link_to(subject.term, :controller => 'issue', :action => 'show', :id => subject.to_param) %></h5>
        <ul class="updates clearfix">
          <% unless subject.new_bills_since(@user).size == 0 %>
            <li><%= toggler_with_span_class("new_bills_#{subject.term}", "<span>New Bills (#{subject.new_bills_since(@user).length})</span>", '<span>Hide New Bills</span>', 'med_button', 'med_button on') %></li>
          <% end %>
          <% unless subject.comments_since_last_login(@user) == 0 %>
            <li><%= toggler_with_span_class("new_comments_#{subject.term}", "<span>New Comments (#{subject.comments_since(@user)})</span>", '<span>Hide New Comments</span>', 'med_button', 'med_button on') %></li>
          <% end %>
        </ul>
        <div class="update_text" id="new_bills_<%= subject.term %>" style="display:none;">
          <ul>
          <% subject.new_bills_since(@user).each do |bill| %>
             <li><%= link_to(bill.typenumber, bill_path(bill)) %> - <%= bill.title_common %>
          <% end %>
          </ul>
        </div>
        <div class="update_text" id="new_comments_<%= subject.term %>" style="display:none;">
            <%= render :partial => 'shared/comments_embedded', :locals => {:object => subject }%>
        </div>
      </li>
    <% end %>
    <% if @user.bookmarked_issues.length > 10 %>
      <li class="even"><%= link_to "#{pluralize(@user.bookmarked_issues.length - 10, 'more issue')}", {:controller => 'profile', :action => 'issues'}, :class => "arrow" %></li>
    <% end %>
  </ul>
  <div class="after"></div>
  <% end %>

</div> <!-- // the-items -->
</div> <!-- // profile_content -->
</div>
