<div id="header" class="clearfix">

    <div class="bar bootstrap-enabled">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 pull-right">
                    <div class="share-buttons pull-right" data-socialite="auto" data-services="facebook-like, twitter-tweet"
                         data-twitter-tweet-options="url=<%=u Settings.base_url %>&amp;text=<%=u "Discover who represents you in Congress, find relevant legislation and learn how to take action." %>&amp;via=OpenCongress"
                         data-facebook-like-options="layout=button_count"></div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <h1><a class="logo" href="/" title="link to the home page"><%= image_tag 'open-congress.png', :alt => 'OpenCongress -' %><%= "#{@page_title_prefix} - " if @page_title_prefix %><%= truncate(@page_title, :length => 100) %> <%= truncate(@head_title, :length => 90) if @head_title %></a></h1>
                </div>
                <div class="span8">
                    <div id="user_account">
                        <% if logged_in? %>
                            <div class="logged-in">
                                <span>Welcome, <%= link_to h(current_user.login), user_profile_url(current_user.login), {:id=> "username"} %></span>
                                <% if can_blog? %>
                                    <% link_opts = {:controller => 'admin/site_text_pages', :action => 'edit', :pageparams => params }
                                       link_opts.merge!({:page_text_editable_type => @user_object.class.name.capitalize, :page_text_editable_id => @user_object.id}) if @user_object %>
                                    | <%= link_to 'Manage SEO/Site Text for this Page', link_opts %>
                                <% end %>
                                <% if @facebook_user %>
                                    <%= fb_logout_link("Logout", url_for(:controller => 'logout', :only_path => false)) %>
                                <% else %>
                                    <%= link_to "Logout", logout_path, {:class => "btn large btn-primary", :id => "logout-btn"}%>
                                <% end %>
                            </div>
                        <% else %>
                            <div class="dropdown login arrowed">
                                <%= link_to "Register", {:controller => 'account', :action => 'login'}, { :class => "btn large btn-primary", :id => "register-btn"} %>
                                <a href="#" class="btn large dropdown-toggle" id="login-btn" data-toggle="dropdown">
                                    Login
                                </a>
                                <div class="dropdown-menu">
                                    <%= form_for User.new, :url => '/account/login', :class => "centered" do |f| %>
                                        <fieldset>
                                            <legend>Log into OpenCongress</legend>
                                            <%= f.text_field :login, :placeholder => "username" %>
                                            <%= f.password_field :password, :placeholder => "password" %>
                                            <%= hidden_field_tag('login_action', login_action) if (login_action ||= nil) %>
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </fieldset>
                                        <a href="/account/forgot_password">Forgot Password?</a>
                                    <% end %>
                                    <%= fb_login_and_redirect "#{request.url}?#{Time.now.tv_sec}", :text => 'Login with Facebook', :scope => 'email,user_location,user_about_me' %>
                                    <a href="/login">Login with your OpenID</a>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- // header -->

<div id="nav" class="un">
    <div class="left">
        <ul class="nav-items">
            <li id="bill_nav"><%= link_to '<span>Bills</span>'.html_safe, :controller => 'bill', :action => :all  %></li>
            <li id="sens_nav"><%= link_to '<span>Senators</span>'.html_safe, :controller => 'people', :action => :senators  %></li>
            <li id="reps_nav"><%= link_to '<span>Representatives</span>'.html_safe, :controller => 'people', :action => :representatives  %></li>
            <li id="vote_nav"><%= link_to '<span>Votes</span>'.html_safe, :controller => 'roll_call' %></li>
            <li id="ishu_nav"><%= link_to '<span>Issues</span>'.html_safe, :controller => 'issue' %></li>
            <li id="comm_nav"><%= link_to '<span>Committees</span>'.html_safe, :controller => 'committee' %></li>
            <li id="groups_nav">
              <%= link_to ('<span>Groups ' + image_tag('tool_arrow-trans.png', :alt => '&gt;') + '</span>').html_safe, groups_url %>
              <ul class="sub">
                <% if logged_in? %>
                  <% unless current_user.active_groups.empty? %>
                    <% current_user.active_groups.each do |g| %>
                      <% group_link = "<span class='groupname'>#{g.name}</span>" %>
                      <% group_link += "<span class='inline-count'>#{g.unviewed_posts(current_user)}</span>" if g.unviewed_posts(current_user) > 0 %>
                      <li><%= link_to group_link.html_safe, group_path(g) %></li>
                    <% end %>
                    <li><%= link_to "<span>View all my groups</span>".html_safe, user_groups_path(current_user.login) %></li>
                  <% end %>
                <% end %>
                <li><%= link_to "<span>Start a New Group</span>".html_safe, new_group_path %></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="right">
        <form action="/search/result" id="form-search" method="get" class="bootstrap-enabled">
            <div id="search">
                <div class="search input-prepend dropdown arrowed">
                    <a href="#" class="add-on dropdown-toggle" data-toggle="dropdown"><i class="icon-cog hide-text">Advanced Options</i></a>
                    <input name="q" class="span3" id="search-field" type="text" value="<%= @query.blank? ? '' : @query %>" placeholder="Search" />
                    <button class="add-on inset"><i class="icon-search hide-text">Search</i></button>
                    <span id="autocomplete-spin" class="add-on" style="display: none;">
                        <%= image_tag 'spin.gif', :alt => 'Working...' %>
                    </span>
                    <div class="dropdown-menu">
                        <div id="search_in">
                            <p>Search in</p>
                            <ul class="search-options">
                                <li><label><input checked="checked" name="search_bills" type="checkbox" value="1" /> Bills</label></li>
                                <li><label><input checked="checked" name="search_people" type="checkbox" value="1" /> Congresspeople</label></li>
                                <li><label><input checked="checked" name="search_committees" type="checkbox" value="1" /> Committees</label></li>
                                <li><label><input checked="checked" name="search_issues" type="checkbox" value="1" /> Issues</label></li>
                                <%# <li><label><input checked="checked" name="search_comments" type="checkbox" value="1" /> User Comments</label></li> %>
                            </ul>
                        </div>
                        <div id="sessions">
                            <p>Sessions</p>
                            <ul class="search-options">
                                <% Settings.available_congresses.each do |c| %>
                                    <li><label><%= check_box_tag "search_congress[#{c}]", "#{c}", c == Settings.default_congress ? true : false %> <%= c.ordinalize %> Congress</label></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="search-autocomplete-choices" class="autocomplete" style="display:none;"></div>
            </div>
        </form>
    </div>
    <div style="clear: both;"></div>
</div>

