<!doctype html>
<html>
  <head>
    <%= render :partial => 'shared/analytics_head' %>
    <title>
      <% if defined? @page_title %>
      <%= @page_title %>
      <% else %>
      <%= yield :title %>
      <% end %>
    </title>

    <% unless content_for?(:stylesheets) %>
      <%= include_stylesheets :application, :media => 'all' %>

      <%= stylesheet_link_tag('admin') if @admin_styles %>

      <% unless @admin_styles %>
          <%= stylesheet_link_tag(controller.controller_name) if FileTest.exist?(Rails.root.join("public", "stylesheets", controller.controller_name + ".css")) %>
      <% end %>

      <%= stylesheet_link_tag 'vids' if @include_vids_styles %>
      <%= stylesheet_link_tag 'jquery.jcarousel' if @carousel %>
      <%= stylesheet_link_tag 'oc-wiki' if @include_wiki_styles %>

      <!--[if lt IE 7]><style type="text/css">@import url("/stylesheets/ie6.css");</style><![endif]-->
      <!--[if IE 7]><style type="text/css">@import url("/stylesheets/ie7.css");</style><![endif]-->

    <% else %>
      <%= yield :stylesheets %>
    <% end %>

    <% unless content_for?(:javascripts) %>
      <%= include_javascripts :defaults, :common  %>
      <script>
        var $j = jQuery.noConflict();
      </script>
      <%= javascript_include_tag 'jquery.jcarousel' if @carousel %>
      <%= javascript_include_tag 'jquery.form.min' %>
      <%= javascript_include_tag 'swfobject' if (@roll_call || @roll_calls) %>
      <%# javascript_include_tag 'http://metavid.org/w/js2/mwEmbed/jsScriptLoader.php?class=mv_embed' if @include_vids_styles %>
      <!--[if lt IE 7]>
      <%= javascript_include_tag 'ie8/IE8' %>
      <![endif]-->
    <% else %>
      <%= yield :javascripts %>
    <% end %>

    <%= remote_forgery_protection %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>