<% if logged_in? %>
  <%= render partial: 'shared/notebook_banner_ad' unless current_user.notebook_items.empty? || session[:notebook_banner] %>
  <%= render partial: 'shared/tracked_item_banner' unless current_user.bookmarks.empty? || session[:track_item_banner] %>
  <ul class="user_nav">
    <h3>My OpenCongress</h3>
    <li class="profile_link"><%= link_to "<span>My Profile</span>".html_safe, user_profile_path(current_user.login) %></li>
    <% unless current_user.notebook_items.empty?  %>
      <li class="mypn_link"><%= link_to "<span>My Political Notebook</span>".html_safe, political_notebook_path(current_user.login) %></li>
    <% end %>
    <li class="watchdog_link"><%= link_to "<span>Watchdog</span>".html_safe, user_watchdog_path(current_user.login) %></li>
    <li class="friends_link"><%= link_to "<span>Friends</span>".html_safe, friends_path(current_user.login) %></li>
    <li class="actions_link"><%= link_to "<span>Actions</span>".html_safe, user_actions_path(current_user.login) %></li>
    <li class="tracked_link"><%= link_to "<span>Tracked Items</span>".html_safe, user_items_tracked_path(current_user.login) %></li>
  </ul>
<% end %>

