<!doctype html>

<html lang="en">
  <head>
    <%= render :partial => 'shared/analytics_head' %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta name="description" content="OpenCongress brings together official government data with news and blog coverage to give you the real story behind each bill." />
    <% if @meta_keywords %>
      <meta name="keywords" content="<%= @meta_keywords %>" />
    <% end %>

    <title>OpenCongress - <%= Settings.default_congress %>th Congress - Track bills, votes, senators, and representatives in the U.S. Congress</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <%= bookmarking_image.html_safe %>
    <%= open_graph_meta %>

    <%= include_javascripts :defaults, :common  %>
    <script>
      var $j = jQuery.noConflict();
    </script>
    <script type="text/javascript" src="//use.typekit.net/xev8qlf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= include_javascripts :frontpage  %>
    <%= csrf_meta_tag %>
    <%= remote_forgery_protection %>

    <%= include_stylesheets :frontpage, :media => 'all' %>

    <!--[if lt IE 7]><style type="text/css">@import url("/stylesheets/ie6.css");</style><![endif]-->

    <!--[if IE 7]><style type="text/css">@import url("/stylesheets/ie7.css");</style><![endif]-->

    <!--[if lt IE 7]>
    <%= javascript_include_tag 'ie8/IE8' %>
    <![endif]-->

    <%= yield :stylesheets %>

    <script type="text/javascript">
     // Disable and pause carousel autoscrolling
     function mycarousel_initCallback(a){a.buttonNext.bind("click",function(){a.startAuto(0)});a.buttonPrev.bind("click",
     function(){a.startAuto(0)});a.clip.hover(function(){a.stopAuto()},function(){a.startAuto()})}$j(document).ready(function(){$j("#why_carousel").jcarousel({auto:5,wrap:"last",initCallback:mycarousel_initCallback})});
    </script>
  </head>

  <body id="home">

    <div style="display:none;" id="loading">
      <div><%= image_tag 'throbber.gif', :border=> '0', :alt => 'Loading' %></div>
    </div>

    <div class="top_bar">
      <%= render :partial => 'layouts/top_bar' %>
    </div>

    <div id="wrapper">
      <%= render :partial => 'layouts/header' %>
      <%= render :partial => 'shared/notices' %>
      <%= render :partial => 'layouts/banner' %>
      <%= render :partial => 'layouts/user_nav' %>
      <%= yield %>

    </div> <!-- // wrapper -->
    <div class="clear">&nbsp;</div>
    <%= render :partial => 'layouts/footer' %>
    <%= render :partial => 'shared/analytics_foot' %>
    <%= javascript_include_tag "//assets.sunlightfoundation.com.s3.amazonaws.com/social/scripts/simple-socialite-pack.min.js" %>
    <script>
      Socialite.setup({
        facebook: {
            lang: 'en_US',
            appId: <%= ApiKeys.facebook_app_id %>
        },
        twitter: {
            lang: 'en'
        },
        googleplus: {
            lang: 'en-US'
        }
    });
    SimpleSocialite.ShareBar.registerButton({
      name: 'opencongress-email',
      displayName: 'Email'
    });
    </script>
    <%= fb_connect_async_js %>

    <%= yield :javascripts %>
  </body>
</html>
