<!DOCTYPE html>
<html>
<head>
    <title>Design | OpenCongress</title>
    <%= stylesheet_link_tag "styleguide" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "styleguide" %>
    <script src="http://use.typekit.net/cuo6nsj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>

<body>

    <nav class="styleguide-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h1 class="sr-only">OpenCongress</h1>
                    <img class="logo" alt="OpenCongress" src="<%= image_path('opencongress_logo.svg') %>">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/globals">Globals</a></li>
                    <li><a href="/forms">Forms</a></li>
                    <li><a href="/navigation">Navigation</a></li>
                    <li><a href="/cards">Cards</a></li>
                    <li><a href="/layout">Layout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <%= yield %>
    </main>

    <footer class="footer--styleguide">
        <div class="container">
            Footer
        </div>
    </footer>

</body>
</html>