<a href="<%= url_for :controller => 'bill', :action => 'show', :id => bill.ident %>" title="<%=h bill.any_title(:full) %>">
<div class="media superlative bill two-up">
    <div class="media-body">
        <h4><%= bill.typenumber %>&mdash;<span><%= truncate(bill.any_title(:bare), :length => 40) rescue nil %></h4>
        <p class="stats">
            <% if superlative == :popular %>
                <strong><%= pluralize(bill.view_count, 'view') %> this week</strong>
                <span class="pull-right muted">Introduced <%= Time.at(bill.introduced).to_s :short %></span>
            <% else %>
                <% action = bill.last_action %>
                <strong><%= until_preposition(action.text) %></strong>
                <span class="pull-right muted"><%= action.datetime.to_s :short %></span>
            <% end %>
        </p>
    </div>
</div>
</a>