<a href="<%= url_for :controller => :people, :action => :show, :id => person.id %>">
<div class="media superlative person two-up">
    <div class="headshot pull-left hide-text" style="background-image:url(<%= asset_path("#{person.photo_path}") %>);"><%= person.full_name %></div>
    <div class="media-body">
        <h4><%= person.full_name rescue nil %></h4>
        <p class="stats">
            <span class="muted"><%= person.party %>, <%= State::STATE_FOR_ABBREV[person.state] rescue "" %></span>
            <% if superlative == :popular %>
                <strong class="pull-right muted"><%= pluralize(person.view_count, 'view') %> this week</strong>
            <% end %>
        </p>
    </div>
</div>
</a>