<a href="">
<div class="media superlative two-up">
    <span class="pull-left"><img alt="<%=h person.full_name %>" class="media-object" src="<%= person.photo_path(:thumb) %>"></span>
    <div class="media-body">
        <h4><%= person.full_name rescue nil %></h4>
        <p class="stats">
            <span class="muted"><%= person.party %>, <%= State::STATE_FOR_ABBREV[person.state] rescue "" %></span>
            <% if superlative == :popular %>
                <strong class="pull-right muted"><%= person.page_views_count %></strong> views
            <% end %>
        </p>
    </div>
</div>
</a>